@import url("../webfonts/Ubuntu/stylesheet.css");
html
{
	background: #7F7F7F url("../images/0mosaicoazul.png") repeat left top;
}

@media only screen
and (max-width: 320px) 
{
#page{
	zoom: 0.4; -moz-transform: scale(0.4); -moz-transform-origin: 0 0;
}
}


@media only screen
and (min-width: 321px) 
and (max-width: 480px) 
{
#page{
	zoom: 0.6; -moz-transform: scale(0.6); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 481px) 
and (max-width: 600px) 
{
#page{
	zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 601px) 
and (max-width: 768px) 
{
#page{
	zoom: 0.96; -moz-transform: scale(0.96); -moz-transform-origin: 0 0;
}
}




#page
{
	z-index: 1;
	width: 800px;
	min-height: 1199.9500000000007px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #FFAA28 url("../images/0mosaicoamarillo.png") repeat left top;
}

#u917
{
	z-index: 329;
	width: 800px;
	position: relative;
	margin-right: -10000px;
}

#u917_clip
{
	overflow: hidden;
	width: 800px;
	height: 1161px;
}

#u917_img
{
	margin-bottom: -71px;
}

#u1033
{
	z-index: 331;
	width: 85px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	position: relative;
	margin-right: -10000px;
	margin-top: 1053px;
	left: 682px;
}

#u6842
{
	z-index: 334;
	width: 200px;
	margin-right: -10000px;
	margin-top: 90px;
	left: 320px;
}

#u801
{
	z-index: 310;
	width: 800px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u735
{
	z-index: 311;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-top: 1175px;
	padding-bottom: 5.279794520547966px;
	position: relative;
	margin-right: -10000px;
	background: #14144A url("../images/0mosaicoazul.png") repeat right top;
}

#pu738-6
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 36px;
	position: relative;
}

#u738-6
{
	z-index: 313;
	display: block;
	vertical-align: top;
	position: relative;
	width: 112px;
	margin-right: -10000px;
	margin-top: -2px;
	left: 29px;
}

#u745
{
	z-index: 319;
	width: 511px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 223px;
}

#u745_img
{
	padding-right: 101px;
}

#u736
{
	z-index: 312;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#pu800
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1160px;
	left: 2px;
}

#u800
{
	z-index: 321;
	width: 80px;
	height: 80px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 227px;
}

#u800.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u978
{
	z-index: 323;
	width: 269px;
	height: 80px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
}

#u806
{
	z-index: 322;
	width: 80px;
	height: 80px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	margin-top: 1160px;
	left: 309px;
}

#u808
{
	z-index: 324;
	width: 80px;
	height: 80px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	margin-top: 1160px;
	left: 390px;
}

#u809
{
	z-index: 325;
	width: 80px;
	height: 80px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	margin-top: 1160px;
	left: 470px;
}

#u810
{
	z-index: 326;
	width: 80px;
	height: 80px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	margin-top: 1160px;
	left: 550px;
}

#u814
{
	z-index: 327;
	width: 80px;
	height: 80px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	margin-top: 1160px;
	left: 630px;
}

#u816
{
	z-index: 328;
	width: 89px;
	height: 80px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	margin-top: 1160px;
	left: 711px;
}

#inicia_1
{
	margin-left: 50px;
	margin-top: 17px;
	position: relative;
}

#pu2751
{
	width: 0.01px;
	margin-top: 53px;
	position: relative;
}

#u2751
{
	z-index: 20;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u2755
{
	z-index: 21;
	width: 800px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u2746
{
	z-index: 143;
	width: 800px;
	position: relative;
	margin-right: -10000px;
}

#ppu2745
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 28px;
	position: relative;
}

#pu2745
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
}

#u2745
{
	z-index: 138;
	width: 25px;
	height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #14144A;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	-khtml-border-radius: 28px;
	border-radius: 28px;
	margin-left: 1px;
	position: relative;
}

#u2770
{
	z-index: 139;
	width: 25px;
	height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #14144A;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	-khtml-border-radius: 28px;
	border-radius: 28px;
	margin-top: 310px;
	position: relative;
}

#u2772
{
	z-index: 140;
	width: 25px;
	height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #14144A;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	-khtml-border-radius: 28px;
	border-radius: 28px;
	margin-top: 224px;
	position: relative;
}

#u2774
{
	z-index: 141;
	width: 25px;
	height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #14144A;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	-khtml-border-radius: 28px;
	border-radius: 28px;
	margin-top: 130px;
	position: relative;
}

#u2776
{
	z-index: 142;
	width: 25px;
	height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #14144A;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	-khtml-border-radius: 28px;
	border-radius: 28px;
	margin-top: 176px;
	position: relative;
}

#u804-14
{
	z-index: 45;
	width: 463px;
	min-height: 1141px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 39px;
}

#u804-4,#u804-6,#u804-8,#u804-10,#u804-12
{
	font-size: 30px;
}

#u2759
{
	z-index: 145;
	width: 281px;
	position: relative;
	margin-right: -10000px;
	left: 433px;
}

#u1291-6
{
	z-index: 62;
	width: 800px;
	min-height: 152px;
	margin-top: 22px;
	position: relative;
}

#u1291-4
{
	font-size: 42px;
}

#u1293
{
	z-index: 86;
	width: 800px;
	margin-top: 22px;
	position: relative;
}

#pu1318
{
	width: 0.01px;
	margin-top: 23px;
	position: relative;
}

#u1318
{
	z-index: 4;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	background: #14144A url("../images/0mosaicoazul.png") repeat right center;
}

#u1318_position_content
{
	margin-top: 55px;
	margin-bottom: 7px;
}

#u2529-4
{
	z-index: 8;
	width: 518px;
	min-height: 98px;
	margin-left: 50px;
	position: relative;
}

#u2529-2
{
	font-size: 40px;
}

#u2778-4
{
	z-index: 12;
	width: 750px;
	min-height: 49px;
	margin-left: 50px;
	margin-top: 75px;
	position: relative;
}

#u2805-4
{
	z-index: 16;
	width: 750px;
	min-height: 49px;
	margin-left: 50px;
	margin-top: 143px;
	position: relative;
}

#u2778-2,#u2805-2
{
	color: #FFAA28;
}

#u1404
{
	z-index: 88;
	width: 761px;
	margin-top: 153px;
	position: relative;
}

#u1404_clip
{
	overflow: hidden;
	width: 761px;
	height: 283px;
}

#u1404_img
{
	margin-left: -71px;
}

#u1418-10
{
	z-index: 68;
	width: 700px;
	min-height: 238px;
	margin-left: 50px;
	margin-top: 17px;
	position: relative;
}

#u1418-6
{
	font-size: 43px;
	color: #FFAA28;
}

#u1418-2,#u1418-4,#u1418-8
{
	font-size: 31px;
	color: #FFAA28;
	font-weight: 500;
}

#u1521
{
	z-index: 91;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 54px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u2785
{
	z-index: 22;
	width: 700px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u2828
{
	z-index: 23;
	width: 700px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u1520
{
	z-index: 90;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u1359
{
	z-index: 198;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#slideshowu1362
{
	z-index: 201;
	width: 0.01px;
	height: 294px;
	position: relative;
	margin-right: -10000px;
}

#u1364
{
	position: absolute;
	width: 621px;
	height: 294px;
	background-color: transparent;
}

#u1364popup
{
	z-index: 202;
}

#u1367
{
	z-index: 203;
	width: 621px;
	height: 294px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1367_img
{
	padding: 147px 310px;
}

#u1365
{
	z-index: 205;
	width: 621px;
	height: 294px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1365_img
{
	padding: 12px 49px;
}

#u1384-3
{
	position: absolute;
	width: 66px;
	min-height: 64px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Ubuntu;
	top: 84px;
	left: 511px;
}

#u1384-3popup
{
	z-index: 207;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1360
{
	z-index: 199;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 517px;
}

#u2830
{
	z-index: 283;
	width: 150px;
	min-height: 152px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 723px;
	left: 558px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u1421
{
	z-index: 2;
	width: 800px;
	position: relative;
	margin-right: -10000px;
}

#u1479-8
{
	z-index: 78;
	width: 700px;
	min-height: 238px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 50px;
}

#u1479-2,#u1479-4
{
	font-size: 63px;
	line-height: 1.1;
	padding-top: 10px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#u1479-6
{
	font-size: 47px;
	line-height: 1.1;
	padding-top: 10px;
}

#slideshowu1480
{
	z-index: 186;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
	margin-top: 432px;
}

#u1481
{
	position: absolute;
	width: 572px;
	height: 360px;
	background-color: transparent;
}

#u1481popup
{
	z-index: 187;
}

#u1484
{
	z-index: 188;
	width: 572px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1484_img
{
	padding-top: 17px;
	padding-right: 421px;
	padding-bottom: 17px;
}

#u1482
{
	z-index: 190;
	width: 572px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1482_clip
{
	overflow: hidden;
	width: 572px;
	height: 360px;
}

#u1482_img
{
	margin: 17px 16px 17px -2px;
}

#u1510-3
{
	position: absolute;
	width: 89px;
	min-height: 76px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 88px;
	left: 56px;
}

#u1510-3popup
{
	z-index: 192;
}

#u1493-3
{
	position: absolute;
	width: 62px;
	min-height: 76px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 82px;
	left: 475px;
}

#u1493-3popup
{
	z-index: 195;
}

#pu917,#pu1421,#pu2836
{
	width: 0.01px;
	position: relative;
}

#u2836
{
	z-index: 24;
	width: 800px;
	position: relative;
	margin-right: -10000px;
}

#u1526-4
{
	z-index: 147;
	width: 750px;
	min-height: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 50px;
}

#u2851
{
	z-index: 155;
	width: 744px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 31px;
}

#u2847
{
	z-index: 156;
	width: 744px;
	position: relative;
	margin-right: -10000px;
}

#u2842
{
	z-index: 157;
	width: 640px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u1528-8
{
	z-index: 159;
	width: 466px;
	min-height: 351px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 199px;
}

#u1528-2,#u1528-4
{
	font-size: 24px;
	padding-top: 16px;
}

#u1528-6
{
	font-size: 24px;
	padding-top: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#u1529
{
	z-index: 167;
	width: 209px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u1529_clip
{
	overflow: hidden;
	width: 209px;
	height: 225px;
}

#u1529_img
{
	margin-left: -16px;
}

#u2848
{
	z-index: 169;
	width: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 292px;
	left: 597px;
}

#slideshowu2857
{
	z-index: 171;
	width: 0.01px;
	height: 626px;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 117px;
}

#u2863
{
	position: absolute;
	width: 566px;
	height: 626px;
	background-color: transparent;
}

#u2863popup
{
	z-index: 172;
}

#u2864
{
	z-index: 173;
	width: 566px;
	height: 626px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2864_img
{
	padding: 313px 283px;
}

#u2905
{
	z-index: 175;
	width: 566px;
	height: 626px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2905_clip
{
	overflow: hidden;
	width: 566px;
	height: 626px;
}

#u2905_img
{
	margin-top: -87px;
	margin-bottom: -87px;
}

#u2862-3
{
	position: absolute;
	width: 84px;
	min-height: 91px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 346px;
	left: 505px;
}

#u2862-3popup
{
	z-index: 177;
}

#pu1552
{
	width: 0.01px;
	top: -10px;
	margin-bottom: -10px;
	position: relative;
}

#u1552
{
	z-index: 5;
	width: 800px;
	position: relative;
	margin-right: -10000px;
}

#u1552_img
{
	padding-bottom: 1px;
}

#u2976
{
	z-index: 32;
	width: 627px;
	min-height: 755px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 87px;
}

#u2916-4
{
	z-index: 151;
	width: 476px;
	min-height: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 87px;
}

#u2916-2
{
	text-align: left;
	color: #14144A;
}

#u2498
{
	z-index: 7;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 62px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#pu1609-4
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 27px;
	position: relative;
}

#u1609-4
{
	z-index: 92;
	width: 700px;
	min-height: 189px;
	position: relative;
	margin-right: -10000px;
}

#u8309-4
{
	z-index: 126;
	width: 550px;
	min-height: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
}

#u2917
{
	z-index: 284;
	width: 500px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 205px;
}

#u2451
{
	z-index: 285;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 429px;
}

#u2453
{
	z-index: 287;
	width: 500px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu2454
{
	z-index: 288;
	width: 0.01px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
}

#u2461
{
	position: absolute;
	width: 480px;
	height: 157px;
	background-color: transparent;
}

#u2461popup
{
	z-index: 289;
}

#u2464
{
	z-index: 290;
	width: 480px;
	height: 157px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2464_img
{
	padding: 78px 240px;
}

#u2462
{
	z-index: 292;
	width: 480px;
	height: 157px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2462_clip
{
	overflow: hidden;
	width: 480px;
	height: 157px;
}

#u2462_img
{
	margin: -12px 39px;
}

#u2471-3
{
	position: absolute;
	width: 75px;
	min-height: 100px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 109px;
	left: 425px;
}

#u2471-3popup
{
	z-index: 294;
}

#pu2493-4
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 6px;
	position: relative;
}

#u2493-4
{
	z-index: 122;
	width: 157px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u2918
{
	z-index: 180;
	width: 583px;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u2918_clip
{
	overflow: hidden;
	width: 583px;
	height: 126px;
}

#u2918_img
{
	margin-right: -476px;
}

#u2980
{
	z-index: 184;
	width: 489px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 211px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#pu2923-4
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 1px;
	position: relative;
}

#u2923-4
{
	z-index: 130;
	width: 229px;
	min-height: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u8309-2,#u2493-2,#u2923-2
{
	font-size: 35px;
	text-align: left;
}

#u2924
{
	z-index: 182;
	width: 552px;
	position: relative;
	margin-right: -10000px;
	left: 198px;
}

#u2924_clip
{
	overflow: hidden;
	width: 552px;
	height: 126px;
}

#u2924_img
{
	margin-right: -507px;
}

#u2984
{
	z-index: 185;
	width: 456px;
	min-height: 61px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 244px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#pu2509-4
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 55px;
	position: relative;
}

#u2509-4
{
	z-index: 96;
	width: 539px;
	min-height: 160px;
	font-size: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: 393px;
	left: 87px;
}

#u2507-4
{
	z-index: 134;
	width: 700px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
}

#u1609-2,#u2507-2
{
	font-size: 70px;
}

#u1719
{
	z-index: 210;
	width: 525px;
	position: relative;
	margin-right: -10000px;
	left: 45px;
}

#slideshowu1722
{
	z-index: 213;
	width: 0.01px;
	height: 681px;
	position: relative;
	margin-right: -10000px;
}

#u1727
{
	position: absolute;
	width: 525px;
	height: 634px;
	background-color: transparent;
}

#u1727popup
{
	z-index: 214;
}

#u1730
{
	z-index: 215;
	width: 525px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1730_img
{
	padding: 317px 262px;
}

#u1728
{
	z-index: 217;
	width: 525px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1728_clip
{
	overflow: hidden;
	width: 525px;
	height: 634px;
}

#u1728_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u1743-3
{
	position: absolute;
	width: 124px;
	min-height: 84px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 597px;
	left: 230px;
}

#u1743-3popup
{
	z-index: 219;
}

#u1720
{
	z-index: 211;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 590px;
	left: 270px;
}

#pu1820-10
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 22px;
	position: relative;
}

#u1820-10
{
	z-index: 100;
	width: 700px;
	min-height: 238px;
	position: relative;
	margin-right: -10000px;
}

#u1820-6
{
	font-size: 80px;
	padding-top: 16px;
	color: #14144A;
	font-weight: 500;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1820-6  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1;
}

#u1820-3
{
	font-size: 55px;
}

#u1820-5
{
	font-size: 72px;
	font-weight: 700;
}

#u1820-2,#u1820-8
{
	font-size: 55px;
	line-height: 1;
	padding-top: 16px;
	color: #14144A;
	font-weight: 500;
}

#u2927
{
	z-index: 222;
	width: 480px;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#slideshowu1864
{
	z-index: 225;
	width: 0.01px;
	height: 378px;
	position: relative;
	margin-right: -10000px;
}

#u1865
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u1865popup
{
	z-index: 226;
}

#u1866
{
	z-index: 227;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1868
{
	z-index: 229;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1868_clip
{
	overflow: hidden;
	width: 480px;
	height: 360px;
}

#u1868_img
{
	margin: 54px -1px;
}

#u1883-3
{
	position: absolute;
	width: 86px;
	min-height: 94px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 285px;
	left: 231px;
}

#u1883-3popup
{
	z-index: 231;
}

#u1862
{
	z-index: 223;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 240px;
}

#u1822-4
{
	z-index: 110;
	width: 700px;
	min-height: 87px;
	margin-left: 50px;
	margin-top: 33px;
	position: relative;
}

#u1822-2
{
	font-size: 60px;
	line-height: 1;
	padding-top: 16px;
	color: #14144A;
	font-weight: 500;
}

#pu1824-8
{
	width: 0.01px;
	margin-left: 50px;
	position: relative;
}

#u1824-8
{
	z-index: 114;
	width: 700px;
	min-height: 367px;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
}

#u1824-2
{
	font-size: 53px;
	line-height: 1;
	padding-top: 16px;
	color: #14144A;
	font-weight: 500;
}

#u1824-4,#u1824-6
{
	font-size: 60px;
	line-height: 1;
	padding-top: 16px;
	color: #14144A;
	font-weight: 700;
}

#u2928
{
	z-index: 271;
	width: 677px;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#slideshowu1904
{
	z-index: 274;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
}

#u1930
{
	position: absolute;
	width: 677px;
	height: 360px;
	background-color: transparent;
}

#u1930popup
{
	z-index: 275;
}

#u1933
{
	z-index: 276;
	width: 677px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1933_img
{
	padding: 180px 338px;
}

#u1931
{
	z-index: 278;
	width: 677px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1931_img
{
	padding: 49px 22px;
}

#u1913-3
{
	position: absolute;
	width: 83px;
	min-height: 77px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 23px;
	left: 305px;
}

#u1913-3popup
{
	z-index: 280;
}

#u1902
{
	z-index: 272;
	width: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 308px;
}

#u2934
{
	z-index: 297;
	width: 534px;
	position: relative;
	margin-right: -10000px;
	margin-top: 307px;
	left: 95px;
}

#slideshowu2938
{
	z-index: 301;
	width: 0.01px;
	height: 610px;
	position: relative;
	margin-right: -10000px;
}

#u2962
{
	position: absolute;
	width: 534px;
	height: 589px;
	background-color: transparent;
}

#u2962popup
{
	z-index: 302;
}

#u2963
{
	z-index: 303;
	width: 534px;
	height: 589px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2963_img
{
	padding: 294px 267px;
}

#u2965
{
	z-index: 305;
	width: 534px;
	height: 589px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2965_clip
{
	overflow: hidden;
	width: 534px;
	height: 589px;
}

#u2965_img
{
	margin-top: 49px;
	margin-bottom: -61px;
}

#u2951-3
{
	position: absolute;
	width: 496px;
	min-height: 549px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 61px;
	left: 7px;
}

#u2951-3popup
{
	z-index: 307;
}

#u2935
{
	z-index: 298;
	width: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 273px;
	left: 230px;
}

#u2936
{
	z-index: 299;
	width: 73px;
	position: relative;
	margin-right: -10000px;
}

#pu2930
{
	width: 0.01px;
	margin-top: 50px;
	position: relative;
}

#u2930
{
	z-index: 26;
	width: 800px;
	position: relative;
	margin-right: -10000px;
}

#u2836_clip,#u2930_clip
{
	overflow: hidden;
	width: 800px;
	height: 225px;
}

#u2836_img,#u2930_img
{
	margin-top: -100px;
}

#u2932-4
{
	z-index: 28;
	width: 750px;
	min-height: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 50px;
}

#u1526-2,#u2932-2
{
	text-align: left;
	color: #FFAA28;
}

#u1943
{
	z-index: 234;
	width: 623px;
	position: relative;
	margin-right: -10000px;
	margin-top: 189px;
	left: 83px;
}

#pu1950
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1950
{
	z-index: 235;
	width: 279px;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
}

#u1950_clip
{
	overflow: hidden;
	width: 279px;
	height: 792px;
}

#u1950_img
{
	margin-left: -173px;
	margin-top: -431px;
	margin-bottom: 1px;
}

#u1944
{
	z-index: 237;
	width: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 665px;
	left: 112px;
}

#slideshowu1952
{
	z-index: 241;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
	margin-top: 413px;
	left: 103px;
}

#u1953
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
	left: 14px;
}

#u1953popup
{
	z-index: 242;
}

#u1954
{
	z-index: 243;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1956
{
	z-index: 245;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1956_img
{
	padding: 45px 10px;
}

#u1976-3
{
	position: absolute;
	width: 97px;
	min-height: 109px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 231px;
}

#u1976-3popup
{
	z-index: 247;
}

#u2986
{
	z-index: 250;
	width: 524px;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#slideshowu1983
{
	z-index: 253;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
}

#u1998
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
	left: 44px;
}

#u1998popup
{
	z-index: 254;
}

#u2001
{
	z-index: 255;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1866_img,#u1954_img,#u2001_img
{
	padding: 180px 240px;
}

#u1999
{
	z-index: 257;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1999_img
{
	padding: 28px 37px;
}

#u2013-3
{
	position: absolute;
	width: 99px;
	min-height: 95px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 150px;
}

#u2013-3popup
{
	z-index: 259;
}

#u1946
{
	z-index: 251;
	width: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 14px;
}

#slideshowu2014
{
	z-index: 262;
	width: 0.01px;
	height: 300px;
	position: relative;
	margin-right: -10000px;
	margin-top: 870px;
	left: 122px;
}

#u2036
{
	position: absolute;
	width: 480px;
	height: 300px;
	background-color: transparent;
	left: 21px;
}

#u2036popup
{
	z-index: 263;
}

#u2037
{
	z-index: 264;
	width: 480px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2037_img
{
	padding: 150px 240px;
}

#u2039
{
	z-index: 266;
	width: 480px;
	height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2039_clip
{
	overflow: hidden;
	width: 480px;
	height: 300px;
}

#u2039_img
{
	margin: -4px 39px;
}

#u2030-3
{
	position: absolute;
	width: 98px;
	min-height: 97px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 183px;
}

#u2030-3popup
{
	z-index: 268;
}

#u1948
{
	z-index: 239;
	width: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1084px;
	left: 103px;
}

#u8310
{
	z-index: 333;
	width: 116px;
	height: 252px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1281px;
	left: 666px;
}

#pu722
{
	width: 0.01px;
	top: -39px;
	margin-bottom: -39px;
	position: relative;
}

#u722
{
	z-index: 33;
	width: 800px;
	padding-top: 5px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 38px;
}

#u730
{
	z-index: 34;
	width: 800px;
	height: 10px;
}

#u4237-6
{
	z-index: 39;
	margin-left: 273px;
	margin-top: 12px;
}

#u751
{
	z-index: 35;
	width: 60px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 690px;
}

#u753
{
	z-index: 37;
	width: 60px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 50px;
}

#u1011
{
	z-index: 59;
	width: 127px;
	height: 128px;
	position: relative;
	margin-right: -10000px;
	left: 673px;
}

#u1012
{
	z-index: 60;
	width: 127px;
	height: 128px;
	position: relative;
	margin-right: -10000px;
}

.ie #u8310,.ie #u1011,.ie #u1012
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#page .verticalspacer
{
	clear: both;
}

