html
{
	background: #7F7F7F url("../images/0mosaicoazul.png") repeat left top;
}

#page
{
	z-index: 1;
	width: 978px;
	min-height: 1199.6999999999998px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #FFAA28 url("../images/0mosaicoamarillo.png") repeat left top;
}

#page_position_content
{
	margin-top: 17px;
}

#u830
{
	z-index: 168;
	width: 978px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u789
{
	z-index: 169;
	width: 978px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-top: 21px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: #14144A url("../images/0mosaicoazul.png") repeat right top;
}

#pu791-6
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 36px;
	position: relative;
}

#u791-6
{
	z-index: 171;
	display: block;
	vertical-align: top;
	position: relative;
	width: 142px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 15px;
}

#u792
{
	z-index: 177;
	width: 609px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 283px;
}

#u790
{
	z-index: 170;
	width: 978px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u980
{
	z-index: 180;
	width: 246px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u823
{
	z-index: 179;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 272px;
}

#u824
{
	z-index: 181;
	width: 99px;
	height: 90px;
	background: transparent url("../images/u824-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u824.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u825
{
	z-index: 182;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 470px;
}

#u826
{
	z-index: 183;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u827
{
	z-index: 184;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 669px;
}

#u828
{
	z-index: 185;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 768px;
}

#u829
{
	z-index: 186;
	width: 110px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 868px;
}

#inicia_2
{
	margin-left: 8px;
	position: relative;
}

#u2988
{
	z-index: 70;
	width: 978px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	margin-top: 55px;
	position: relative;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u2988_position_content
{
	margin-bottom: -1px;
}

#u6842
{
	z-index: 156;
	width: 200px;
	margin-left: 320px;
}

#u2993
{
	z-index: 72;
	width: 811px;
	margin-top: 6px;
	position: relative;
}

#u2993_img
{
	padding-right: 1px;
}

#u2989
{
	z-index: 71;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 18px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#pu2080
{
	width: 0.01px;
	position: relative;
}

#u2080
{
	z-index: 39;
	width: 978px;
	position: relative;
	margin-right: -10000px;
}

#u2998
{
	z-index: 94;
	width: 485px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 454px;
}

#slideshowu2113
{
	z-index: 97;
	width: 0.01px;
	height: 485px;
	position: relative;
	margin-right: -10000px;
}

#u2134
{
	position: absolute;
	width: 480px;
	height: 485px;
	background-color: transparent;
}

#u2134popup
{
	z-index: 98;
}

#u2135
{
	z-index: 99;
	width: 480px;
	height: 485px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2135_img
{
	padding: 242px 240px;
}

#u2137
{
	z-index: 101;
	width: 480px;
	height: 485px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2137_clip
{
	overflow: hidden;
	width: 480px;
	height: 485px;
}

#u2137_img
{
	margin: -6px 26px;
}

#u2114-3
{
	position: absolute;
	width: 100px;
	min-height: 94px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 14px;
	left: 385px;
}

#u2114-3popup
{
	z-index: 103;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2111
{
	z-index: 95;
	width: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 392px;
}

#slideshowu2171
{
	z-index: 106;
	width: 0.01px;
	height: 311px;
	position: relative;
	margin-right: -10000px;
	margin-top: 949px;
	left: 339px;
}

#u2172
{
	position: absolute;
	width: 568px;
	height: 311px;
	background-color: transparent;
}

#u2172popup
{
	z-index: 107;
}

#u2175
{
	z-index: 108;
	width: 568px;
	height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2175_img
{
	padding: 155px 284px;
}

#u2173
{
	z-index: 110;
	width: 568px;
	height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2173_clip
{
	overflow: hidden;
	width: 568px;
	height: 311px;
}

#u2173_img
{
	margin: -2px 14px;
}

#u2179-3
{
	position: absolute;
	width: 76px;
	min-height: 88px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 187px;
	left: 513px;
}

#u2179-3popup
{
	z-index: 112;
}

#pu2162
{
	width: 0.01px;
	left: -1px;
	top: -249px;
	margin-bottom: -249px;
	position: relative;
}

#u2162
{
	z-index: 2;
	width: 978px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: #14144A url("../images/0mosaicoazul.png") repeat right center;
}

#u2162_position_content
{
	margin-top: 6px;
	margin-bottom: 743px;
}

#u2168
{
	z-index: 41;
	width: 978px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#pu2210-4
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 105px;
	position: relative;
}

#u2210-4
{
	z-index: 42;
	width: 529px;
	min-height: 97px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u2210-2
{
	color: #FFAA28;
	font-family: ubuntu, sans-serif;
}

#u2169
{
	z-index: 92;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 807px;
}

#u2999
{
	z-index: 3;
	width: 905px;
	margin-top: 8px;
	position: relative;
}

#u3007
{
	z-index: 5;
	width: 905px;
	margin-top: 21px;
	position: relative;
}

#u2212-4
{
	z-index: 46;
	width: 529px;
	min-height: 51px;
	margin-left: 50px;
	margin-top: 62px;
	position: relative;
}

#u3013
{
	z-index: 7;
	width: 945px;
	margin-left: 33px;
	margin-top: 30px;
	position: relative;
}

#u3013_clip
{
	overflow: hidden;
	width: 945px;
	height: 151px;
}

#u3013_img
{
	margin-left: 19px;
	margin-right: -633px;
}

#u2219-4
{
	z-index: 50;
	width: 529px;
	min-height: 51px;
	margin-left: 50px;
	margin-top: 153px;
	position: relative;
}

#u2224-4
{
	z-index: 54;
	width: 529px;
	min-height: 51px;
	margin-left: 50px;
	margin-top: 71px;
	position: relative;
}

#u2212-2,#u2219-2,#u2224-2
{
	color: #FFAA28;
}

#slideshowu2226
{
	z-index: 74;
	width: 0.01px;
	height: 645px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1302px;
}

#u2239
{
	position: absolute;
	width: 699px;
	height: 645px;
	background-color: transparent;
}

#u2239popup
{
	z-index: 75;
}

#u2240
{
	z-index: 76;
	width: 699px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2242
{
	z-index: 78;
	width: 699px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2240_img,#u2242_img
{
	padding: 1px 3px;
}

#u2238-3
{
	position: absolute;
	width: 75px;
	min-height: 73px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 117px;
	left: 619px;
}

#u2238-3popup
{
	z-index: 80;
}

#u3024
{
	z-index: 83;
	width: 978px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1846px;
}

#u3027
{
	z-index: 85;
	width: 978px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1872px;
	left: 1px;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u2269-6
{
	z-index: 86;
	width: 547px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1904px;
	left: 50px;
}

#u3016
{
	z-index: 115;
	width: 350px;
	position: relative;
	margin-right: -10000px;
	margin-top: 942px;
	left: 579px;
}

#u3021
{
	z-index: 117;
	width: 350px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1089px;
	left: 235px;
}

#u6123
{
	z-index: 131;
	width: 593px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1981px;
	left: 346px;
}

#slideshowu3073
{
	z-index: 134;
	width: 0.01px;
	height: 308px;
	position: relative;
	margin-right: -10000px;
}

#u3091
{
	position: absolute;
	width: 593px;
	height: 308px;
	background-color: transparent;
}

#u3091popup
{
	z-index: 135;
}

#u3092
{
	z-index: 136;
	width: 593px;
	height: 308px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3092_img
{
	padding: 154px 296px;
}

#u3119
{
	z-index: 138;
	width: 593px;
	height: 308px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3119_clip
{
	overflow: hidden;
	width: 593px;
	height: 308px;
}

#u3119_img
{
	margin: -5px 10px;
}

#u3094-3
{
	position: absolute;
	width: 75px;
	min-height: 83px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 17px;
	left: 509px;
}

#u3094-3popup
{
	z-index: 140;
}

#u3070
{
	z-index: 132;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 511px;
}

#u3330
{
	z-index: 157;
	width: 781px;
	min-height: 70px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat center center;
}

#u3335
{
	z-index: 158;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u3340
{
	z-index: 159;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 753px;
	left: 147px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u3342
{
	z-index: 160;
	width: 240px;
	min-height: 83px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 981px;
	left: 632px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u3344
{
	z-index: 161;
	width: 240px;
	min-height: 83px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1132px;
	left: 286px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u2270-4
{
	z-index: 58;
	width: 529px;
	min-height: 40px;
	margin-left: 99px;
	margin-top: 52px;
	position: relative;
}

#pu3028
{
	width: 0.01px;
	left: -1px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u3028
{
	z-index: 9;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3043
{
	z-index: 19;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3346
{
	z-index: 162;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#pu3030
{
	width: 0.01px;
	left: -1px;
	margin-top: 20px;
	position: relative;
}

#u3030
{
	z-index: 11;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u2999_clip,#u3007_clip,#u3028_clip,#u3030_clip
{
	overflow: hidden;
	width: 905px;
	height: 151px;
}

#u2999_img,#u3007_img,#u3028_img,#u3030_img
{
	margin-left: -654px;
}

#u3037
{
	z-index: 13;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3350
{
	z-index: 163;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#pu3061
{
	width: 0.01px;
	left: -1px;
	margin-top: 139px;
	position: relative;
}

#u3061
{
	z-index: 21;
	width: 905px;
	position: relative;
	margin-right: -10000px;
	margin-top: 497px;
}

#u3049
{
	z-index: 23;
	width: 923px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 55px;
}

#u3049_clip
{
	overflow: hidden;
	width: 923px;
	height: 152px;
}

#u3049_img
{
	margin-left: -1px;
	margin-right: -358px;
}

#u2320-4
{
	z-index: 62;
	width: 616px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
	left: 99px;
}

#u2271-4
{
	z-index: 66;
	width: 781px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 99px;
}

#u6127
{
	z-index: 144;
	width: 650px;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 291px;
}

#slideshowu2278
{
	z-index: 145;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
}

#u2299
{
	position: absolute;
	width: 620px;
	height: 360px;
	background-color: transparent;
}

#u2299popup
{
	z-index: 146;
}

#u2300
{
	z-index: 147;
	width: 620px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2300_img
{
	padding: 180px 310px;
}

#u2302
{
	z-index: 149;
	width: 620px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2302_img
{
	padding: 54px 26px;
}

#u2279-3
{
	position: absolute;
	width: 71px;
	min-height: 81px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 10px;
	left: 566px;
}

#u2279-3popup
{
	z-index: 151;
}

#u6124
{
	z-index: 154;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 567px;
}

#u3352
{
	z-index: 164;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 147px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u3354
{
	z-index: 165;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 538px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#pu3058
{
	width: 0.01px;
	left: -1px;
	margin-top: 28px;
	position: relative;
}

#u3058
{
	z-index: 15;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3358
{
	z-index: 166;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 34px;
	-webkit-border-radius: 34px;
	-khtml-border-radius: 34px;
	border-radius: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#pu3067
{
	width: 0.01px;
	left: -1px;
	margin-top: 29px;
	position: relative;
}

#u3067
{
	z-index: 17;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3043_clip,#u3037_clip,#u3061_clip,#u3058_clip,#u3067_clip
{
	overflow: hidden;
	width: 905px;
	height: 152px;
}

#u3043_img,#u3037_img,#u3061_img,#u3058_img,#u3067_img
{
	margin-left: -377px;
}

#u3362
{
	z-index: 167;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 34px;
	-webkit-border-radius: 34px;
	-khtml-border-radius: 34px;
	border-radius: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#slideshowu3237
{
	z-index: 119;
	width: 0.01px;
	height: 360px;
	left: -1px;
	margin-top: 77px;
	position: relative;
}

#u3255
{
	position: absolute;
	width: 551px;
	height: 360px;
	background-color: transparent;
}

#u3255popup
{
	z-index: 120;
}

#u3256
{
	z-index: 121;
	width: 551px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3256_img
{
	margin: 17px 406px 17px -6px;
}

#u3287
{
	z-index: 123;
	width: 551px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3256_clip,#u3287_clip
{
	overflow: hidden;
	width: 551px;
	height: 360px;
}

#u3287_img
{
	margin: 17px -4px;
}

#u3253-3
{
	position: absolute;
	width: 73px;
	min-height: 82px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 81px;
	left: 469px;
}

#u3253-3popup
{
	z-index: 125;
}

#u3258-3
{
	position: absolute;
	width: 74px;
	min-height: 98px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 71px;
	left: 46px;
}

#u3258-3popup
{
	z-index: 128;
}

#pu722
{
	width: 0.01px;
	top: -39px;
	margin-bottom: -39px;
	position: relative;
}

#u722
{
	z-index: 25;
	width: 978px;
	padding-top: 5px;
	padding-bottom: 32px;
	margin-right: -10000px;
	margin-top: 38px;
}

#u730
{
	z-index: 26;
	width: 978px;
	height: 10px;
}

#u4237-6
{
	z-index: 31;
	margin-left: 324px;
	margin-top: 12px;
}

#u751
{
	z-index: 27;
	width: 60px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 868px;
}

#u753
{
	z-index: 29;
	width: 60px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 50px;
}

#u1008
{
	z-index: 37;
	width: 130px;
	height: 128px;
	position: relative;
	margin-right: -10000px;
	left: 848px;
}

#u1009
{
	z-index: 38;
	width: 130px;
	height: 128px;
	position: relative;
	margin-right: -10000px;
}

.ie #u1008,.ie #u1009
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#page .verticalspacer
{
	clear: both;
}

