html
{
	background: #7F7F7F url("../images/0mosaicoazul.png") repeat left top;
}

#page
{
	z-index: 1;
	width: 978px;
	min-height: 1199.5999999999995px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #FFAA28 url("../images/0mosaicoamarillo.png") repeat left top;
}

#page_position_content
{
	margin-top: 18px;
	margin-bottom: -1px;
}

#u850
{
	z-index: 101;
	width: 978px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u860
{
	z-index: 102;
	width: 978px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-top: 21px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: #14144A url("../images/0mosaicoazul.png") repeat right top;
}

#pu852-6
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 36px;
	position: relative;
}

#u852-6
{
	z-index: 104;
	display: block;
	vertical-align: top;
	position: relative;
	width: 142px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 15px;
}

#u861
{
	z-index: 110;
	width: 609px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 283px;
}

#u854
{
	z-index: 103;
	width: 978px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u982
{
	z-index: 113;
	width: 183px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 36px;
}

#u858
{
	z-index: 112;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 272px;
}

#u856
{
	z-index: 114;
	width: 99px;
	height: 90px;
	background: transparent url("../images/u824-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2)";
	filter: alpha(opacity=2);
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u851
{
	z-index: 115;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 470px;
}

#u855
{
	z-index: 116;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u857
{
	z-index: 117;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 669px;
}

#u859
{
	z-index: 118;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 768px;
}

#u853
{
	z-index: 119;
	width: 110px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 868px;
}

#inicia_3
{
	margin-left: 11px;
	position: relative;
}

#pu2591-7
{
	width: 0.01px;
	margin-top: 54px;
	position: relative;
}

#u2591-7
{
	z-index: 44;
	width: 878px;
	min-height: 159px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 50px;
}

#u2591-2,#u2591-4
{
	text-align: left;
}

#u3367
{
	z-index: 75;
	width: 978px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u3367_position_content
{
	margin-bottom: -1px;
}

#u6846
{
	z-index: 94;
	width: 200px;
	margin-left: 50px;
}

#u3372
{
	z-index: 77;
	width: 817px;
	margin-top: 5px;
	position: relative;
}

#u3372_img
{
	padding-right: 1px;
}

#u3368
{
	z-index: 76;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 18px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u2549
{
	z-index: 81;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 307px;
}

#slideshowu2552
{
	z-index: 84;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
}

#u2553
{
	position: absolute;
	width: 610px;
	height: 360px;
	background-color: transparent;
}

#u2553popup
{
	z-index: 85;
}

#u2554
{
	z-index: 86;
	width: 610px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2554_img
{
	padding: 180px 305px;
}

#u2556
{
	z-index: 88;
	width: 610px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2556_img
{
	padding: 8px 28px;
}

#u2564-3
{
	position: absolute;
	width: 65px;
	min-height: 78px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 259px;
	left: 550px;
}

#u2564-3popup
{
	z-index: 90;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2550
{
	z-index: 82;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 550px;
}

#u2544
{
	z-index: 42;
	width: 663px;
	margin-top: 17px;
	position: relative;
}

#u4233
{
	z-index: 79;
	width: 978px;
	height: 11px;
	border-style: none;
	border-color: transparent;
	margin-top: 4px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u2594-4
{
	z-index: 51;
	width: 455px;
	min-height: 48px;
	margin-left: 50px;
	margin-top: 66px;
	position: relative;
}

#u3383
{
	z-index: 18;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3385
{
	z-index: 95;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u2595-4
{
	z-index: 59;
	width: 491px;
	min-height: 54px;
	margin-left: 50px;
	margin-top: 34px;
	position: relative;
}

#u3381
{
	z-index: 10;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3387
{
	z-index: 97;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u3420-4
{
	z-index: 55;
	width: 455px;
	min-height: 48px;
	margin-left: 50px;
	margin-top: 37px;
	position: relative;
}

#u3417
{
	z-index: 2;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3414
{
	z-index: 20;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3467
{
	z-index: 96;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u3413-4
{
	z-index: 63;
	width: 491px;
	min-height: 54px;
	margin-left: 50px;
	margin-top: 35px;
	position: relative;
}

#pu3381,#pu3407
{
	width: 0.01px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u3407
{
	z-index: 4;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3410
{
	z-index: 12;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3465
{
	z-index: 98;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u2607-4
{
	z-index: 67;
	width: 770px;
	min-height: 53px;
	margin-left: 50px;
	margin-top: 45px;
	position: relative;
}

#pu3417,#pu3428
{
	width: 0.01px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u3428
{
	z-index: 6;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3431
{
	z-index: 14;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3471
{
	z-index: 99;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u3448-4
{
	z-index: 71;
	width: 770px;
	min-height: 53px;
	margin-left: 50px;
	margin-top: 56px;
	position: relative;
}

#u2594-2,#u2595-2,#u3420-2,#u3413-2,#u2607-2,#u3448-2
{
	padding-top: 0px;
}

#pu3383,#pu3442
{
	width: 0.01px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u3442
{
	z-index: 8;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3417_clip,#u3407_clip,#u3428_clip,#u3442_clip
{
	overflow: hidden;
	width: 905px;
	height: 151px;
}

#u3417_img,#u3407_img,#u3428_img,#u3442_img
{
	margin-left: -654px;
}

#u3445
{
	z-index: 16;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u3383_clip,#u3381_clip,#u3414_clip,#u3410_clip,#u3431_clip,#u3445_clip
{
	overflow: hidden;
	width: 905px;
	height: 152px;
}

#u3383_img,#u3381_img,#u3414_img,#u3410_img,#u3431_img,#u3445_img
{
	margin-left: -377px;
}

#u3475
{
	z-index: 100;
	width: 781px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#pu1006
{
	width: 0.01px;
	margin-top: 13px;
	position: relative;
}

#u1006
{
	z-index: 39;
	width: 130px;
	height: 128px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
}

#u2539
{
	z-index: 40;
	width: 587px;
	position: relative;
	margin-right: -10000px;
	left: 391px;
}

#u2539_img
{
	padding-bottom: 90px;
}

#u1005
{
	z-index: 80;
	width: 158px;
	height: 128px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 820px;
}

.ie #u1006,.ie #u1005
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu6558
{
	width: 0.01px;
	top: -90px;
	margin-bottom: -90px;
	position: relative;
}

#u6558
{
	z-index: 22;
	width: 978px;
	margin-right: -10000px;
}

#u6533
{
	z-index: 23;
	width: 978px;
	padding-top: 5px;
	padding-bottom: 121px;
	margin-right: -10000px;
}

#u6537
{
	z-index: 24;
	width: 978px;
	height: 10px;
}

#u6536-6
{
	z-index: 29;
	margin-left: 324px;
	margin-top: 12px;
}

#u6538
{
	z-index: 25;
	width: 60px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 868px;
}

#u6534
{
	z-index: 27;
	width: 60px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 50px;
}

#u6550
{
	z-index: 35;
	width: 978px;
	margin-right: -10000px;
	margin-top: 90px;
}

#u6546
{
	z-index: 36;
	width: 978px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u851.MuseLinkActive,#u6546.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u6547
{
	z-index: 37;
	width: 91px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 443px;
}

#page .verticalspacer
{
	clear: both;
}

