html
{
	background: #7F7F7F url("../images/0mosaicoazul.png") repeat left top;
}
@media only screen
and (max-width: 320px) 
{
#page{
	zoom: 0.4; -moz-transform: scale(0.4); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 321px) 
and (max-width: 482px) 
{
#page{
	zoom: 0.6; -moz-transform: scale(0.6); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 483px) 
and (max-width: 602px) 
{
#page{
	zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 603px) 
and (max-width: 680px) 
{
#page{
	zoom: 0.85; -moz-transform: scale(0.85); -moz-transform-origin: 0 0;
}
}
#page
{
	z-index: 1;
	width: 800px;
	min-height: 1199.5999999999995px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #FFAA28 url("../images/0mosaicoamarillo.png") repeat left top;
}

#page_position_content
{
	margin-top: 18px;
	margin-bottom: -1px;
}

#u8238
{
	z-index: 95;
	width: 800px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u8239
{
	z-index: 96;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-top: 21px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: #14144A url("../images/0mosaicoazul.png") repeat right top;
}

#pu8245-6
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 36px;
	position: relative;
}

#u8245-6
{
	z-index: 98;
	position: relative;
	width: 112px;
	margin-right: -10000px;
	margin-top: -2px;
	left: 29px;
}

#u8245-6_img
{
	display: block;
	vertical-align: top;
}

#u8246
{
	z-index: 104;
	width: 536px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 228px;
}

#u8246_img
{
	padding-right: 47px;
}

#u8249
{
	z-index: 97;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u8241
{
	z-index: 106;
	width: 80px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u8243
{
	z-index: 107;
	width: 80px;
	height: 90px;
	background: transparent url("../images/u8234-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2)";
	filter: alpha(opacity=2);
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u8250
{
	z-index: 108;
	width: 80px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u8248
{
	z-index: 109;
	width: 79px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 469px;
}

#u8240
{
	z-index: 110;
	width: 79px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 548px;
}

#u8242
{
	z-index: 111;
	width: 79px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=20) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.2;
	position: relative;
	margin-right: -10000px;
	left: 626px;
}

#u8244
{
	z-index: 112;
	width: 95px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 705px;
}

#inicia_3
{
	margin-left: 11px;
	position: relative;
}

#pu7248-7
{
	width: 0.01px;
	margin-top: 54px;
	position: relative;
}

#u7248-7
{
	z-index: 36;
	width: 750px;
	min-height: 159px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 50px;
}

#u7248-2,#u7248-4
{
	text-align: left;
}

#u7255
{
	z-index: 67;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u7255_position_content
{
	margin-bottom: -1px;
}

#u6846
{
	z-index: 94;
	width: 200px;
	margin-left: 50px;
}

#u7257
{
	z-index: 69;
	width: 800px;
	margin-top: 5px;
	position: relative;
}

#u7256
{
	z-index: 68;
	width: 800px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 21px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u7261
{
	z-index: 73;
	width: 621px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 129px;
}

#slideshowu7264
{
	z-index: 76;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
}

#u7266
{
	position: absolute;
	width: 610px;
	height: 360px;
	background-color: transparent;
}

#u7266popup
{
	z-index: 77;
}

#u7269
{
	z-index: 78;
	width: 610px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7269_img
{
	padding: 180px 305px;
}

#u7267
{
	z-index: 80;
	width: 610px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7267_img
{
	padding: 8px 28px;
}

#u7271-3
{
	position: absolute;
	width: 65px;
	min-height: 78px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 258px;
	left: 550px;
}

#u7271-3popup
{
	z-index: 82;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u7262
{
	z-index: 74;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 550px;
}

#u7246
{
	z-index: 34;
	width: 663px;
	margin-top: 17px;
	position: relative;
}

#u7259
{
	z-index: 71;
	width: 800px;
	height: 11px;
	border-style: none;
	border-color: transparent;
	margin-top: 4px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u7249-4
{
	z-index: 43;
	width: 455px;
	min-height: 48px;
	margin-left: 50px;
	margin-top: 66px;
	position: relative;
}

#pu7231
{
	width: 0.01px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u7231
{
	z-index: 19;
	width: 750px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
}

#u7239
{
	z-index: 27;
	width: 750px;
	position: relative;
	margin-right: -10000px;
}

#u7241
{
	z-index: 29;
	width: 750px;
	position: relative;
	margin-right: -10000px;
	margin-top: 469px;
}

#u7231_clip,#u7239_clip,#u7241_clip
{
	overflow: hidden;
	width: 750px;
	height: 152px;
}

#u7231_img,#u7239_img,#u7241_img
{
	margin-left: -532px;
}

#u7250-4
{
	z-index: 47;
	width: 455px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 421px;
	left: 50px;
}

#u7251-4
{
	z-index: 51;
	width: 491px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 50px;
}

#u7296
{
	z-index: 86;
	width: 626px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 50px;
}

#u7301
{
	z-index: 87;
	width: 626px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u7299
{
	z-index: 89;
	width: 626px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-top: 173px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u7297
{
	z-index: 88;
	width: 626px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-top: 175px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u7252-4
{
	z-index: 55;
	width: 491px;
	min-height: 54px;
	margin-left: 50px;
	margin-top: 34px;
	position: relative;
}

#pu7233
{
	width: 0.01px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u7233
{
	z-index: 21;
	width: 748px;
	position: relative;
	margin-right: -10000px;
}

#u7235
{
	z-index: 23;
	width: 748px;
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
}

#u7237
{
	z-index: 25;
	width: 748px;
	position: relative;
	margin-right: -10000px;
	margin-top: 502px;
}

#u7233_clip,#u7235_clip,#u7237_clip
{
	overflow: hidden;
	width: 748px;
	height: 152px;
}

#u7233_img,#u7235_img,#u7237_img
{
	margin-left: -534px;
}

#u7253-4
{
	z-index: 59;
	width: 750px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 50px;
}

#u7254-4
{
	z-index: 63;
	width: 464px;
	min-height: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 453px;
	left: 50px;
}

#u7249-2,#u7250-2,#u7251-2,#u7252-2,#u7253-2,#u7254-2
{
	padding-top: 0px;
}

#u7303
{
	z-index: 90;
	width: 624px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 50px;
}

#u7306
{
	z-index: 91;
	width: 624px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u7304
{
	z-index: 92;
	width: 624px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-top: 178px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u7308
{
	z-index: 93;
	width: 624px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-top: 196px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#pu7243
{
	width: 0.01px;
	margin-top: 13px;
	position: relative;
}

#u7243
{
	z-index: 31;
	width: 130px;
	height: 128px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
}

#u7244
{
	z-index: 32;
	width: 587px;
	position: relative;
	margin-right: -10000px;
	left: 213px;
}

#u7244_img
{
	padding-bottom: 90px;
}

#u7260
{
	z-index: 72;
	width: 158px;
	height: 128px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 642px;
}

.ie #u7243,.ie #u7260
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu6558
{
	width: 0.01px;
	top: -90px;
	margin-bottom: -90px;
	position: relative;
}

#u6558
{
	z-index: 2;
	width: 800px;
	margin-right: -10000px;
}

#u6533
{
	z-index: 3;
	width: 800px;
	padding-top: 5px;
	padding-bottom: 121px;
	margin-right: -10000px;
}

#u6537
{
	z-index: 4;
	width: 800px;
	height: 10px;
}

#u6536-6
{
	z-index: 9;
	margin-left: 271px;
	margin-top: 12px;
}

#u6538
{
	z-index: 5;
	width: 60px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 690px;
}

#u6534
{
	z-index: 7;
	width: 60px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 50px;
}

#u6550
{
	z-index: 15;
	width: 800px;
	margin-right: -10000px;
	margin-top: 90px;
}

#u6546
{
	z-index: 16;
	width: 800px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u8250.MuseLinkActive,#u6546.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u6547
{
	z-index: 17;
	width: 91px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 354px;
}

#page .verticalspacer
{
	clear: both;
}

