html
{
	background: #7F7F7F url("../images/0mosaicoazul.png") repeat left top;
}
@media only screen
and (max-width: 320px) 
{
#page{
	zoom: 0.4; -moz-transform: scale(0.4); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 321px) 
and (max-width: 482px) 
{
#page{
	zoom: 0.6; -moz-transform: scale(0.6); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 483px) 
and (max-width: 602px) 
{
#page{
	zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 603px) 
and (max-width: 680px) 
{
#page{
	zoom: 0.85; -moz-transform: scale(0.85); -moz-transform-origin: 0 0;
}
}
#page
{
	z-index: 1;
	width: 800px;
	min-height: 1199.8814365544913px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #FFAA28 url("../images/0mosaicoamarillo.png") repeat left top;
}

#page_position_content
{
	margin-top: 18px;
}

#u8280
{
	z-index: 300;
	width: 800px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u8287
{
	z-index: 301;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-top: 21px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: #14144A url("../images/0mosaicoazul.png") repeat right top;
}

#pu8284-6
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 36px;
	position: relative;
}

#u8284-6
{
	z-index: 303;
	position: relative;
	width: 112px;
	margin-right: -10000px;
	margin-top: -2px;
	left: 29px;
}

#u8284-6_img
{
	display: block;
	vertical-align: top;
}

#u8281
{
	z-index: 309;
	width: 536px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 228px;
}

#u8281_img
{
	padding-right: 47px;
}

#u8292
{
	z-index: 302;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u8290
{
	z-index: 311;
	width: 80px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u8286
{
	z-index: 312;
	width: 80px;
	height: 90px;
	background: transparent url("../images/u8234-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2)";
	filter: alpha(opacity=2);
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u8291
{
	z-index: 313;
	width: 80px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u8283
{
	z-index: 314;
	width: 79px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 469px;
}

#u8288
{
	z-index: 315;
	width: 79px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 548px;
}

#u8289
{
	z-index: 316;
	width: 79px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=20) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.2;
	position: relative;
	margin-right: -10000px;
	left: 626px;
}

#u8285
{
	z-index: 317;
	width: 95px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 705px;
}

#inicia_7
{
	margin-left: 12px;
	position: relative;
}

#u8363
{
	z-index: 39;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	margin-top: 54px;
	position: relative;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u8363_position_content
{
	margin-bottom: -1px;
}

#u6842
{
	z-index: 299;
	width: 200px;
	margin-left: 320px;
}

#u8365
{
	z-index: 41;
	width: 800px;
	margin-top: 4px;
	position: relative;
}

#u8364
{
	z-index: 40;
	width: 800px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 22px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#pu8367-10
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 54px;
	position: relative;
}

#u8367-10
{
	z-index: 43;
	width: 473px;
	min-height: 504px;
	position: relative;
	margin-right: -10000px;
}

#u8367-2
{
	font-size: 56px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#u8367-6
{
	font-size: 46px;
}

#u8386
{
	z-index: 148;
	width: 272px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 444px;
}

#u8386_img
{
	padding-right: 1px;
}

#slideshowu8388
{
	z-index: 150;
	width: 0.01px;
	height: 242px;
	margin-top: 89px;
	position: relative;
}

#u8459
{
	position: absolute;
	width: 800px;
	height: 170px;
	background-color: transparent;
}

#u8459popup
{
	z-index: 151;
}

#u8470
{
	z-index: 152;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8482
{
	z-index: 154;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8468
{
	z-index: 156;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8466
{
	z-index: 158;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8460
{
	z-index: 160;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8480
{
	z-index: 162;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8486
{
	z-index: 164;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8472
{
	z-index: 166;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8462
{
	z-index: 168;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8464
{
	z-index: 170;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8484
{
	z-index: 172;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8488
{
	z-index: 174;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8476
{
	z-index: 176;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8478
{
	z-index: 178;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8474
{
	z-index: 180;
	width: 800px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8470_img,#u8482_img,#u8468_img,#u8466_img,#u8460_img,#u8480_img,#u8486_img,#u8472_img,#u8462_img,#u8464_img,#u8484_img,#u8488_img,#u8476_img,#u8478_img,#u8474_img
{
	padding-left: 18px;
	padding-right: 18px;
}

#u8436-6
{
	position: absolute;
	width: 78px;
	min-height: 66px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 176px;
	left: 220px;
}

#u8436-6popup
{
	z-index: 182;
}

#u8438
{
	z-index: 188;
	width: 76px;
}

#u8432-6
{
	position: absolute;
	width: 30px;
	min-height: 66px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 176px;
	left: 531px;
}

#u8432-6popup
{
	z-index: 191;
}

#u8436,#u8432
{
	font-size: 1px;
	line-height: 0px;
}

#u8434
{
	z-index: 197;
	width: 76px;
}

#u8438_img,#u8434_img
{
	vertical-align: bottom;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u8369
{
	z-index: 57;
	width: 800px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	margin-top: 90px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#pu8368-4
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 43px;
	position: relative;
}

#u8368-4
{
	z-index: 53;
	width: 700px;
	min-height: 348px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu8491
{
	z-index: 200;
	width: 0.01px;
	height: 645px;
	position: relative;
	margin-right: -10000px;
	margin-top: 432px;
	left: 55px;
}

#u8510
{
	position: absolute;
	width: 590px;
	height: 645px;
	background-color: transparent;
}

#u8510popup
{
	z-index: 201;
}

#u8517
{
	z-index: 202;
	width: 590px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8513
{
	z-index: 204;
	width: 590px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8515
{
	z-index: 206;
	width: 590px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8519
{
	z-index: 208;
	width: 590px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8511
{
	z-index: 210;
	width: 590px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8517_clip,#u8513_clip,#u8515_clip,#u8519_clip,#u8511_clip
{
	overflow: hidden;
	width: 590px;
	height: 645px;
}

#u8517_img,#u8513_img,#u8515_img,#u8519_img,#u8511_img
{
	margin-left: -28px;
	margin-right: -28px;
}

#u8536-3
{
	position: absolute;
	width: 445px;
	min-height: 395px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 101px;
	left: 73px;
}

#u8536-3popup
{
	z-index: 212;
}

#u8537
{
	z-index: 215;
	width: 686px;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 7px;
}

#slideshowu8538
{
	z-index: 218;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
}

#u8541
{
	position: absolute;
	width: 638px;
	height: 360px;
	background-color: transparent;
}

#u8541popup
{
	z-index: 219;
}

#u8542
{
	z-index: 220;
	width: 638px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8542_img
{
	padding: 180px 319px;
}

#u8544
{
	z-index: 222;
	width: 638px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8544_img
{
	padding: 58px 2px;
}

#u8567-3
{
	position: absolute;
	width: 81px;
	min-height: 92px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 84px;
	left: 601px;
}

#u8567-3popup
{
	z-index: 224;
}

#u8569
{
	z-index: 216;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 603px;
}

#pu8323
{
	width: 0.01px;
	top: -55px;
	margin-bottom: -55px;
	position: relative;
}

#u8323
{
	z-index: 15;
	width: 800px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u8323_position_content
{
	margin-top: 25px;
	margin-bottom: 291px;
}

#u8370
{
	z-index: 58;
	width: 800px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u8374-8
{
	z-index: 86;
	width: 555px;
	min-height: 142px;
	margin-left: 50px;
	margin-top: 58px;
	position: relative;
}

#u8325
{
	z-index: 17;
	width: 603px;
	margin-left: 147px;
	margin-top: 6px;
	position: relative;
}

#u8328
{
	z-index: 18;
	width: 603px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8326
{
	z-index: 20;
	width: 603px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8330
{
	z-index: 19;
	width: 603px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8332
{
	z-index: 21;
	width: 603px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8371-8
{
	z-index: 59;
	width: 702px;
	min-height: 88px;
	margin-left: 50px;
	margin-top: 163px;
	position: relative;
}

#u8334
{
	z-index: 22;
	width: 608px;
	margin-left: 142px;
	margin-top: 40px;
	position: relative;
}

#u8341
{
	z-index: 23;
	width: 608px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8339
{
	z-index: 25;
	width: 608px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8335
{
	z-index: 24;
	width: 608px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8337
{
	z-index: 26;
	width: 608px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8343
{
	z-index: 27;
	width: 608px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 142px;
	margin-top: 300px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8356
{
	z-index: 34;
	width: 608px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 142px;
	margin-top: 45px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8354
{
	z-index: 33;
	width: 608px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 142px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8358
{
	z-index: 35;
	width: 608px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 142px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8373-8
{
	z-index: 78;
	width: 702px;
	min-height: 88px;
	margin-left: 50px;
	margin-top: 71px;
	position: relative;
}

#u8345
{
	z-index: 28;
	width: 606px;
	margin-left: 144px;
	margin-top: 7px;
	position: relative;
}

#u8352
{
	z-index: 29;
	width: 606px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8350
{
	z-index: 31;
	width: 606px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8346
{
	z-index: 30;
	width: 606px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8348
{
	z-index: 32;
	width: 606px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u8372-11
{
	z-index: 67;
	width: 700px;
	min-height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1632px;
	left: 50px;
}

#u8374-2,#u8371-2,#u8373-2,#u8372-2
{
	font-size: 40px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#u8372-8
{
	font-size: 22px;
}

#u8571
{
	z-index: 227;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
	left: 42px;
}

#u8573
{
	z-index: 229;
	width: 586px;
	position: relative;
	margin-right: -10000px;
	left: 164px;
}

#slideshowu8576
{
	z-index: 232;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
}

#u8583
{
	position: absolute;
	width: 575px;
	height: 360px;
	background-color: transparent;
}

#u8583popup
{
	z-index: 233;
}

#u8584
{
	z-index: 234;
	width: 575px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8584_img
{
	padding: 180px 287px;
}

#u8586
{
	z-index: 236;
	width: 575px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8586_img
{
	padding: 19px 18px;
}

#u8589-3
{
	position: absolute;
	width: 80px;
	min-height: 90px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 240px;
	left: 501px;
}

#u8589-3popup
{
	z-index: 238;
}

#u8574
{
	z-index: 230;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 515px;
}

#u8607
{
	z-index: 241;
	width: 124px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1043px;
	left: 27px;
}

#u8609
{
	z-index: 243;
	width: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1776px;
	left: 43px;
}

#u8611
{
	z-index: 245;
	width: 116px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2373px;
	left: 31px;
}

#pu8322
{
	width: 0.01px;
	position: relative;
}

#u8322
{
	z-index: 14;
	width: 800px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/fondo0.png") repeat left top;
}

#u8322_position_content
{
	margin-top: 25px;
	margin-bottom: 27px;
}

#u8375
{
	z-index: 94;
	width: 800px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u8377-9
{
	z-index: 96;
	width: 532px;
	min-height: 130px;
	margin-left: 50px;
	margin-top: 15px;
	position: relative;
}

#u8367-8,#u8374-6,#u8371-6,#u8373-6,#u8372-9,#u8377-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8367-8  span,#u8374-6  span,#u8371-6  span,#u8373-6  span,#u8372-9  span,#u8377-7  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.5;
}

#u8367-4,#u8377-2
{
	font-size: 46px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#u8378-4
{
	z-index: 105;
	width: 700px;
	min-height: 197px;
	margin-left: 50px;
	margin-top: 799px;
	position: relative;
}

#u8376
{
	z-index: 95;
	width: 800px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	margin-top: 25px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u8651
{
	z-index: 260;
	width: 742px;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 2px;
}

#slideshowu8683
{
	z-index: 261;
	width: 0.01px;
	height: 719px;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
}

#u8696
{
	position: absolute;
	width: 742px;
	height: 719px;
	background-color: transparent;
}

#u8696popup
{
	z-index: 262;
}

#u8701
{
	z-index: 263;
	width: 742px;
	height: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8697
{
	z-index: 265;
	width: 742px;
	height: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8701_img,#u8697_img
{
	margin-top: -19px;
	margin-bottom: -18px;
}

#u8705
{
	z-index: 267;
	width: 742px;
	height: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8699
{
	z-index: 269;
	width: 742px;
	height: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8703
{
	z-index: 271;
	width: 742px;
	height: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8701_clip,#u8697_clip,#u8705_clip,#u8699_clip,#u8703_clip
{
	overflow: hidden;
	width: 742px;
	height: 719px;
}

#u8705_img,#u8699_img,#u8703_img
{
	margin-top: -19px;
	margin-bottom: -19px;
}

#u8718-3
{
	position: absolute;
	width: 558px;
	min-height: 491px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 89px;
	left: 100px;
}

#u8718-3popup
{
	z-index: 273;
}

#slideshowu8652
{
	z-index: 278;
	width: 0.01px;
	height: 286px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u8676
{
	position: absolute;
	width: 610px;
	height: 286px;
	background-color: transparent;
}

#u8676popup
{
	z-index: 279;
}

#u8677
{
	z-index: 280;
	width: 610px;
	height: 286px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8677_img
{
	padding: 143px 305px;
}

#u8679
{
	z-index: 282;
	width: 610px;
	height: 286px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8679_img
{
	padding: 1px 26px;
}

#u8666-3
{
	position: absolute;
	width: 82px;
	min-height: 100px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 11px;
	left: 579px;
}

#u8666-3popup
{
	z-index: 284;
}

#u8729
{
	z-index: 276;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 626px;
}

#u8613
{
	z-index: 247;
	width: 801px;
	left: -1px;
	position: relative;
}

#u8379-16
{
	z-index: 109;
	width: 696px;
	min-height: 88px;
	text-align: center;
	margin-left: 54px;
	margin-top: 20px;
	position: relative;
}

#u8379-2
{
	font-size: 60px;
}

#u8381
{
	z-index: 133;
	width: 800px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	margin-top: 75px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u8380-8
{
	z-index: 125;
	width: 700px;
	min-height: 88px;
	text-align: center;
	font-weight: 700;
	margin-left: 50px;
	margin-top: 66px;
	position: relative;
}

#u8380-2,#u8380-4
{
	font-family: ubuntu, sans-serif;
}

#u8380-6
{
	font-size: 60px;
	font-family: ubuntu, sans-serif;
}

#slideshowu8615
{
	z-index: 249;
	width: 0.01px;
	height: 658px;
	margin-left: 19px;
	margin-top: 40px;
	position: relative;
}

#u8637
{
	position: absolute;
	width: 763px;
	height: 658px;
	background-color: transparent;
}

#u8637popup
{
	z-index: 250;
}

#u8642
{
	z-index: 251;
	width: 763px;
	height: 658px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8638
{
	z-index: 253;
	width: 763px;
	height: 658px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8640
{
	z-index: 255;
	width: 763px;
	height: 658px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8642_clip,#u8638_clip,#u8640_clip
{
	overflow: hidden;
	width: 763px;
	height: 658px;
}

#u8642_img,#u8638_img,#u8640_img
{
	margin: 3px -44px;
}

#u8617-3
{
	position: absolute;
	width: 661px;
	min-height: 188px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 50px;
	left: 43px;
}

#u8617-3popup
{
	z-index: 257;
}

#u8382
{
	z-index: 134;
	width: 800px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	margin-top: 142px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u8384-6
{
	z-index: 136;
	width: 700px;
	min-height: 88px;
	text-align: center;
	margin-left: 50px;
	margin-top: 92px;
	position: relative;
}

#u8384-4
{
	font-size: 15px;
}

#pu8324
{
	width: 0.01px;
	margin-top: 212px;
	position: relative;
}

#u8324
{
	z-index: 16;
	width: 800px;
	border-style: none;
	border-color: transparent;
	padding-top: 27px;
	padding-bottom: 305.14999999999964px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u8383
{
	z-index: 135;
	width: 800px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u8385-6
{
	z-index: 142;
	width: 700px;
	min-height: 88px;
	margin-left: 50px;
	margin-top: 50px;
	position: relative;
}

#u8374-4,#u8371-4,#u8373-4,#u8372-4,#u8379-4,#u8379-12,#u8385-4
{
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#slideshowu8731
{
	z-index: 287;
	width: 0.01px;
	height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
}

#u8734
{
	position: absolute;
	width: 554px;
	height: 160px;
	background-color: transparent;
}

#u8734popup
{
	z-index: 288;
}

#u8737
{
	z-index: 289;
	width: 554px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8737_clip
{
	overflow: hidden;
	width: 554px;
	height: 160px;
}

#u8737_img
{
	margin: 5px 446px 5px -434px;
}

#u8735
{
	z-index: 291;
	width: 554px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8735_img
{
	padding: 4px 6px;
}

#u8751-3
{
	position: absolute;
	width: 111px;
	min-height: 160px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;left: 4px;
}

#u8751-3popup
{
	z-index: 293;
}

#u8732-3
{
	position: absolute;
	width: 92px;
	min-height: 143px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 10px;
	left: 450px;
}

#u8732-3popup
{
	z-index: 296;
}

#pu722
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u722
{
	z-index: 2;
	width: 800px;
	padding-top: 5px;
	padding-bottom: 32px;
	margin-right: -10000px;
}

#u730
{
	z-index: 3;
	width: 800px;
	height: 10px;
}

#u4237-6
{
	z-index: 8;
	margin-left: 273px;
	margin-top: 12px;
}

#u751
{
	z-index: 4;
	width: 60px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 690px;
}

#u753
{
	z-index: 6;
	width: 60px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 50px;
}

#u8360
{
	z-index: 36;
	width: 130px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 670px;
}

#u8361
{
	z-index: 37;
	width: 130px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

.ie #u8360,.ie #u8361
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#page .verticalspacer
{
	clear: both;
}

