html
{
	background: #7F7F7F url("../images/0mosaicoazul.png") repeat left top;
}

#page
{
	z-index: 1;
	width: 978px;
	min-height: 1199.6814365544924px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #FFAA28 url("../images/0mosaicoamarillo.png") repeat left top;
}

#page_position_content
{
	margin-top: 18px;
}

#u945
{
	z-index: 294;
	width: 978px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u954
{
	z-index: 295;
	width: 978px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-top: 21px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: #14144A url("../images/0mosaicoazul.png") repeat right top;
}

#pu955-6
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 36px;
	position: relative;
}

#u955-6
{
	z-index: 297;
	position: relative;
	width: 142px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 15px;
}

#u955-6_img
{
	display: block;
	vertical-align: top;
}

#u947
{
	z-index: 303;
	width: 609px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 283px;
}

#u956
{
	z-index: 296;
	width: 978px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u949
{
	z-index: 305;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 272px;
}

#u957
{
	z-index: 306;
	width: 99px;
	height: 90px;
	background: transparent url("../images/u824-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2)";
	filter: alpha(opacity=2);
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u952
{
	z-index: 307;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 470px;
}

#u950
{
	z-index: 308;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u951
{
	z-index: 309;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 669px;
}

#u953
{
	z-index: 310;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 768px;
}

#u946
{
	z-index: 311;
	width: 110px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 868px;
}

#u946.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#inicia_7
{
	margin-left: 12px;
	position: relative;
}

#u4292
{
	z-index: 36;
	width: 978px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	margin-top: 54px;
	position: relative;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u4292_position_content
{
	margin-bottom: -1px;
}

#u6842
{
	z-index: 293;
	width: 200px;
	margin-left: 320px;
}

#u4294
{
	z-index: 38;
	width: 828px;
	margin-top: 4px;
	position: relative;
}

#u4293
{
	z-index: 37;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 17px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#pu5099-10
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 54px;
	position: relative;
}

#u5099-10
{
	z-index: 40;
	width: 649px;
	min-height: 460px;
	position: relative;
	margin-right: -10000px;
}

#u5099-2
{
	font-size: 56px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#u5099-6
{
	font-size: 46px;
}

#u4564
{
	z-index: 142;
	width: 272px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 611px;
}

#u4294_img,#u4564_img
{
	padding-right: 1px;
}

#slideshowu4566
{
	z-index: 144;
	width: 0.01px;
	height: 242px;
	margin-top: 80px;
	position: relative;
}

#u4567
{
	position: absolute;
	width: 978px;
	height: 191px;
	background-color: transparent;
}

#u4567popup
{
	z-index: 145;
}

#u4578
{
	z-index: 146;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4568
{
	z-index: 148;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4574
{
	z-index: 150;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4582
{
	z-index: 152;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4576
{
	z-index: 154;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4592
{
	z-index: 156;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4570
{
	z-index: 158;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4572
{
	z-index: 160;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4588
{
	z-index: 162;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4586
{
	z-index: 164;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4594
{
	z-index: 166;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4590
{
	z-index: 168;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4584
{
	z-index: 170;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4596
{
	z-index: 172;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4580
{
	z-index: 174;
	width: 978px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4578_img,#u4568_img,#u4574_img,#u4582_img,#u4576_img,#u4592_img,#u4570_img,#u4572_img,#u4588_img,#u4586_img,#u4594_img,#u4590_img,#u4584_img,#u4596_img,#u4580_img
{
	padding: 11px 107px;
}

#u4657-6
{
	position: absolute;
	width: 78px;
	min-height: 66px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 176px;
	left: 220px;
}

#u4657-6popup
{
	z-index: 176;
}

#u4659
{
	z-index: 182;
	width: 76px;
}

#u4661-6
{
	position: absolute;
	width: 30px;
	min-height: 66px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 176px;
	left: 720px;
}

#u4661-6popup
{
	z-index: 185;
}

#u4657,#u4661
{
	font-size: 1px;
	line-height: 0px;
}

#u4663
{
	z-index: 191;
	width: 76px;
}

#u4659_img,#u4663_img
{
	vertical-align: bottom;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5101
{
	z-index: 54;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 36px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#pu5103-4
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 40px;
	position: relative;
}

#u5103-4
{
	z-index: 50;
	width: 878px;
	min-height: 246px;
	position: relative;
	margin-right: -10000px;
}

#u5109
{
	z-index: 209;
	width: 693px;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 157px;
}

#slideshowu4717
{
	z-index: 212;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
}

#u4736
{
	position: absolute;
	width: 638px;
	height: 360px;
	background-color: transparent;
}

#u4736popup
{
	z-index: 213;
}

#u4737
{
	z-index: 214;
	width: 638px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4737_img
{
	padding: 180px 319px;
}

#u4739
{
	z-index: 216;
	width: 638px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4739_img
{
	padding: 58px 2px;
}

#u4725-3
{
	position: absolute;
	width: 95px;
	min-height: 92px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 78px;
	left: 598px;
}

#u4725-3popup
{
	z-index: 218;
}

#u4715
{
	z-index: 210;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 603px;
}

#slideshowu4669
{
	z-index: 194;
	width: 0.01px;
	height: 645px;
	margin-left: 180px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u4692
{
	position: absolute;
	width: 590px;
	height: 645px;
	background-color: transparent;
}

#u4692popup
{
	z-index: 195;
}

#u4695
{
	z-index: 196;
	width: 590px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4697
{
	z-index: 198;
	width: 590px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4693
{
	z-index: 200;
	width: 590px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4699
{
	z-index: 202;
	width: 590px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4701
{
	z-index: 204;
	width: 590px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4695_clip,#u4697_clip,#u4693_clip,#u4699_clip,#u4701_clip
{
	overflow: hidden;
	width: 590px;
	height: 645px;
}

#u4695_img,#u4697_img,#u4693_img,#u4699_img,#u4701_img
{
	margin-left: -28px;
	margin-right: -28px;
}

#u4670-3
{
	position: absolute;
	width: 445px;
	min-height: 395px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 101px;
	left: 64px;
}

#u4670-3popup
{
	z-index: 206;
}

#pu5164
{
	width: 0.01px;
	top: -55px;
	margin-bottom: -55px;
	position: relative;
}

#u5164
{
	z-index: 3;
	width: 978px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u5164_position_content
{
	margin-top: 25px;
	margin-bottom: 291px;
}

#u5131
{
	z-index: 55;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u5176-8
{
	z-index: 83;
	width: 555px;
	min-height: 142px;
	margin-left: 54px;
	margin-top: 55px;
	position: relative;
}

#u5342
{
	z-index: 5;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 170px;
	margin-top: 6px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5349
{
	z-index: 13;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 170px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5357
{
	z-index: 9;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 170px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5355
{
	z-index: 17;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 170px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5174-8
{
	z-index: 56;
	width: 702px;
	min-height: 88px;
	margin-left: 54px;
	margin-top: 163px;
	position: relative;
}

#u5359
{
	z-index: 6;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 165px;
	margin-top: 40px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5361
{
	z-index: 14;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 165px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5363
{
	z-index: 10;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 165px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5365
{
	z-index: 18;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 165px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5181-11
{
	z-index: 64;
	width: 850px;
	min-height: 88px;
	margin-left: 54px;
	margin-top: 165px;
	position: relative;
}

#u5181-8
{
	font-size: 22px;
}

#pu4785
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: 7px;
	position: relative;
}

#u4785
{
	z-index: 237;
	width: 92px;
	position: relative;
	margin-right: -10000px;
}

#pu5381
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 99px;
}

#u5381
{
	z-index: 7;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5379
{
	z-index: 15;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5377
{
	z-index: 11;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5375
{
	z-index: 19;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5183-8
{
	z-index: 75;
	width: 702px;
	min-height: 88px;
	margin-left: 54px;
	margin-top: 61px;
	position: relative;
}

#u5176-2,#u5174-2,#u5181-2,#u5183-2
{
	font-size: 40px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#u5389
{
	z-index: 8;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 167px;
	margin-top: 7px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5387
{
	z-index: 16;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 167px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5385
{
	z-index: 12;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 167px;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u5383
{
	z-index: 20;
	width: 703px;
	min-height: 71px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	margin-left: 167px;
	margin-top: 45px;
	position: relative;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u4781
{
	z-index: 221;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
	left: 65px;
}

#u5156
{
	z-index: 223;
	width: 586px;
	position: relative;
	margin-right: -10000px;
	left: 288px;
}

#slideshowu4750
{
	z-index: 226;
	width: 0.01px;
	height: 360px;
	position: relative;
	margin-right: -10000px;
}

#u4751
{
	position: absolute;
	width: 575px;
	height: 360px;
	background-color: transparent;
}

#u4751popup
{
	z-index: 227;
}

#u4752
{
	z-index: 228;
	width: 575px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4752_img
{
	padding: 180px 287px;
}

#u4754
{
	z-index: 230;
	width: 575px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4754_img
{
	padding: 19px 18px;
}

#u4775-3
{
	position: absolute;
	width: 80px;
	min-height: 90px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 240px;
	left: 501px;
}

#u4775-3popup
{
	z-index: 232;
}

#u4748
{
	z-index: 224;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 515px;
}

#u4783
{
	z-index: 235;
	width: 124px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1043px;
	left: 50px;
}

#u4787
{
	z-index: 239;
	width: 116px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2373px;
	left: 54px;
}

#pu5144
{
	width: 0.01px;
	position: relative;
}

#u5144
{
	z-index: 2;
	width: 978px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/fondo0.png") repeat left top;
}

#u5144_position_content
{
	margin-top: 25px;
	margin-bottom: 26px;
}

#u5194
{
	z-index: 91;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u5198-6
{
	z-index: 93;
	width: 832px;
	min-height: 88px;
	margin-left: 50px;
	margin-top: 12px;
	position: relative;
}

#u5099-8,#u5176-6,#u5174-6,#u5181-9,#u5183-6,#u5198-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5099-8  span,#u5176-6  span,#u5174-6  span,#u5181-9  span,#u5183-6  span,#u5198-4  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.5;
}

#u5099-4,#u5198-2
{
	font-size: 46px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#u5241-4
{
	z-index: 99;
	width: 832px;
	min-height: 88px;
	margin-left: 50px;
	margin-top: 853px;
	position: relative;
}

#u5255
{
	z-index: 92;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 92px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u5239
{
	z-index: 254;
	width: 795px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 103px;
}

#slideshowu4789
{
	z-index: 255;
	width: 0.01px;
	height: 719px;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
}

#u4800
{
	position: absolute;
	width: 742px;
	height: 719px;
	background-color: transparent;
}

#u4800popup
{
	z-index: 256;
}

#u4807
{
	z-index: 257;
	width: 742px;
	height: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4803
{
	z-index: 259;
	width: 742px;
	height: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4807_img,#u4803_img
{
	margin-top: -19px;
	margin-bottom: -18px;
}

#u4809
{
	z-index: 261;
	width: 742px;
	height: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4805
{
	z-index: 263;
	width: 742px;
	height: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4801
{
	z-index: 265;
	width: 742px;
	height: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4807_clip,#u4803_clip,#u4809_clip,#u4805_clip,#u4801_clip
{
	overflow: hidden;
	width: 742px;
	height: 719px;
}

#u4809_img,#u4805_img,#u4801_img
{
	margin-top: -19px;
	margin-bottom: -19px;
}

#u4814-3
{
	position: absolute;
	width: 558px;
	min-height: 491px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 88px;
	left: 100px;
}

#u4814-3popup
{
	z-index: 267;
}

#slideshowu5201
{
	z-index: 272;
	width: 0.01px;
	height: 286px;
	position: relative;
	margin-right: -10000px;
	left: 103px;
}

#u5212
{
	position: absolute;
	width: 610px;
	height: 286px;
	background-color: transparent;
}

#u5212popup
{
	z-index: 273;
}

#u5215
{
	z-index: 274;
	width: 610px;
	height: 286px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5215_img
{
	padding: 143px 305px;
}

#u5213
{
	z-index: 276;
	width: 610px;
	height: 286px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5213_img
{
	padding: 1px 26px;
}

#u5228-3
{
	position: absolute;
	width: 82px;
	min-height: 100px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 11px;
	left: 599px;
}

#u5228-3popup
{
	z-index: 278;
}

#u5199
{
	z-index: 270;
	width: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 712px;
}

#u4868
{
	z-index: 241;
	width: 979px;
	left: -1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u5268-16
{
	z-index: 103;
	width: 832px;
	min-height: 88px;
	text-align: center;
	margin-left: 73px;
	margin-top: 125px;
	position: relative;
}

#u5268-2
{
	font-size: 60px;
}

#u5269
{
	z-index: 127;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 130px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u5271-8
{
	z-index: 119;
	width: 832px;
	min-height: 88px;
	text-align: center;
	font-weight: 700;
	margin-left: 73px;
	margin-top: 82px;
	position: relative;
}

#u5271-2,#u5271-4
{
	font-family: ubuntu, sans-serif;
}

#u5271-6
{
	font-size: 60px;
	font-family: ubuntu, sans-serif;
}

#slideshowu4870
{
	z-index: 243;
	width: 0.01px;
	height: 658px;
	margin-left: 108px;
	margin-top: 82px;
	position: relative;
}

#u4894
{
	position: absolute;
	width: 763px;
	height: 658px;
	background-color: transparent;
}

#u4894popup
{
	z-index: 244;
}

#u4895
{
	z-index: 245;
	width: 763px;
	height: 658px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4899
{
	z-index: 247;
	width: 763px;
	height: 658px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4897
{
	z-index: 249;
	width: 763px;
	height: 658px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4895_clip,#u4899_clip,#u4897_clip
{
	overflow: hidden;
	width: 763px;
	height: 658px;
}

#u4895_img,#u4899_img,#u4897_img
{
	margin: 3px -44px;
}

#u4881-3
{
	position: absolute;
	width: 661px;
	min-height: 188px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 51px;
	left: 43px;
}

#u4881-3popup
{
	z-index: 251;
}

#u5277
{
	z-index: 128;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 58px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u5283-6
{
	z-index: 130;
	width: 832px;
	min-height: 88px;
	text-align: center;
	margin-left: 81px;
	margin-top: 37px;
	position: relative;
}

#u5283-4
{
	font-size: 15px;
}

#pslideshowu5476
{
	width: 0.01px;
	left: -2px;
	margin-top: 36px;
	position: relative;
}

#slideshowu5476
{
	z-index: 281;
	width: 0.01px;
	height: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 346px;
}

#u5500
{
	position: absolute;
	width: 554px;
	height: 160px;
	background-color: transparent;
}

#u5500popup
{
	z-index: 282;
}

#u5501
{
	z-index: 283;
	width: 554px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5501_clip
{
	overflow: hidden;
	width: 554px;
	height: 160px;
}

#u5501_img
{
	margin: 5px 446px 5px -434px;
}

#u5526
{
	z-index: 285;
	width: 554px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5526_img
{
	padding: 4px 6px;
}

#u5477-3
{
	position: absolute;
	width: 111px;
	min-height: 160px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 4px;
}

#u5477-3popup
{
	z-index: 287;
}

#u5478-3
{
	position: absolute;
	width: 92px;
	min-height: 143px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 10px;
	left: 450px;
}

#u5478-3popup
{
	z-index: 290;
}

#u5278
{
	z-index: 4;
	width: 978px;
	border-style: none;
	border-color: transparent;
	padding-top: 25px;
	padding-bottom: 306.2000000000007px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u5285
{
	z-index: 129;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u5290-6
{
	z-index: 136;
	width: 777px;
	min-height: 88px;
	margin-left: 81px;
	margin-top: 47px;
	position: relative;
}

#u5176-4,#u5174-4,#u5181-4,#u5183-4,#u5268-4,#u5268-12,#u5290-4
{
	font-family: ubuntu, sans-serif;
	font-weight: 700;
}

#pu722
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u722
{
	z-index: 21;
	width: 978px;
	padding-top: 5px;
	padding-bottom: 32px;
	margin-right: -10000px;
}

#u730
{
	z-index: 22;
	width: 978px;
	height: 10px;
}

#u4237-6
{
	z-index: 27;
	margin-left: 324px;
	margin-top: 12px;
}

#u751
{
	z-index: 23;
	width: 60px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 868px;
}

#u753
{
	z-index: 25;
	width: 60px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 50px;
}

#u989
{
	z-index: 33;
	width: 130px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 848px;
}

#u991
{
	z-index: 34;
	width: 130px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

.ie #u989,.ie #u991
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#page .verticalspacer
{
	clear: both;
}

