.Estilo-de-p-rrafo,.Am-peq-izq,.Estilo-de-p-rrafo-2
{
	font-family: ubuntu-n3, sans-serif;
}

.Estilo-de-p-rrafo-1,.Am-cuerpo-30,.Az-CUERPO-GRANDE-36,.Az-Centrado-Bold-52,.Vi-eta-1,.Am-Izquierda-bold-52,.Personajes,.CUERPO-GRANDE
{
	font-family: ubuntu-n5, sans-serif;
}

.Bold
{
	font-family: ubuntu-n7, sans-serif;
}

#u3727-2,#u3727-4,#u3727-9,#u3727-11,#u3727-15,#u3727-17,#u3730-2,#u3730-4,#u3730-8,#u3800-2
{
	font-family: ubuntu-n7, sans-serif;
}

