.Estilo-de-p-rrafo,.Am-peq-izq,.Estilo-de-p-rrafo-2
{
	font-family: ubuntu-n3, sans-serif;
}

.Estilo-de-p-rrafo-1,.Am-cuerpo-30,.Az-CUERPO-GRANDE-36,.Az-Centrado-Bold-52,.Vi-eta-1,.Am-Izquierda-bold-52,.Personajes,.CUERPO-GRANDE
{
	font-family: ubuntu-n5, sans-serif;
}

.Bold
{
	font-family: ubuntu-n7, sans-serif;
}

#u7534-2,#u7534-4,#u7534-9,#u7534-11,#u7534-15,#u7534-17,#u7535-2,#u7535-4,#u7535-8,#u7545-2
{
	font-family: ubuntu-n7, sans-serif;
}

