.Estilo-de-p-rrafo,.Am-peq-izq,.Estilo-de-p-rrafo-2
{
	font-family: ubuntu-n3, sans-serif;
}

.Estilo-de-p-rrafo-1,.Am-cuerpo-30,.Az-CUERPO-GRANDE-36,.Az-Centrado-Bold-52,.Vi-eta-1,.Am-Izquierda-bold-52,.Personajes,.CUERPO-GRANDE
{
	font-family: ubuntu-n5, sans-serif;
}

.Bold
{
	font-family: ubuntu-n7, sans-serif;
}

#u5099-2,#u5099-4,#u5176-2,#u5176-4,#u5174-2,#u5174-4,#u5181-2,#u5181-4,#u5183-2,#u5183-4,#u5198-2,#u5268-4,#u5268-12,#u5271-2,#u5271-4,#u5271-6,#u5290-4
{
	font-family: ubuntu-n7, sans-serif;
}

