html
{
	background: #7F7F7F url("../images/0mosaicoazul.png") repeat left top;
}
@media only screen
and (max-width: 320px) 
{
#page{
	zoom: 0.4; -moz-transform: scale(0.4); -moz-transform-origin: 0 0;
}
}


@media only screen
and (min-width: 321px) 
and (max-width: 480px) 
{
#page{
	zoom: 0.6; -moz-transform: scale(0.6); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 481px) 
and (max-width: 600px) 
{
#page{
	zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 601px) 
and (max-width: 768px) 
{
#page{
	zoom: 0.96; -moz-transform: scale(0.96); -moz-transform-origin: 0 0;
}
}
#page
{
	z-index: 1;
	width: 800px;
	min-height: 1200px;
	border-style: none;
	border-color: transparent;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/0mosaicoamarillo.png") repeat left top;
}

#u477
{
	z-index: 2;
	width: 800px;
	position: relative;
	margin-right: -10000px;
}

#u504
{
	z-index: 4;
	width: 540px;
	height: 383px;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 230px;
}

.ie #u504
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3877
{
	z-index: 5;
	width: 66px;
	position: relative;
	margin-right: -10000px;
	margin-top: 557px;
	left: 684px;
}

#u3882
{
	z-index: 7;
	width: 184px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1194px;
	left: 616px;
}

#u3853
{
	z-index: 8;
	width: 184px;
	position: relative;
	margin-right: -10000px;
}

#u3853_clip
{
	overflow: hidden;
	width: 184px;
	height: 124px;
}

#u3853_img
{
	margin-right: -861px;
}

#u3874
{
	z-index: 10;
	width: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 51px;
}

#portada_bajar
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1129px;
	left: 50px;
}

#u6848
{
	z-index: 13;
	width: 200px;
	margin-right: -10000px;
	margin-top: 90px;
	left: 50px;
}

#page .verticalspacer
{
	clear: both;
}

