html
{
	background: #7F7F7F url("../images/0mosaicoazul.png") repeat left top;
}
@media only screen
and (max-width: 320px) 
{
#page{
	zoom: 0.4; -moz-transform: scale(0.4); -moz-transform-origin: 0 0;
}
}


@media only screen
and (min-width: 321px) 
and (max-width: 480px) 
{
#page{
	zoom: 0.6; -moz-transform: scale(0.6); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 481px) 
and (max-width: 600px) 
{
#page{
	zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0;
}
}

@media only screen
and (min-width: 601px) 
and (max-width: 768px) 
{
#page{
	zoom: 0.96; -moz-transform: scale(0.96); -moz-transform-origin: 0 0;
}
}
#page
{
	z-index: 1;
	width: 800px;
	min-height: 1200px;
	border-style: none;
	border-color: transparent;
	margin-left: auto;
	margin-right: auto;
	background: #FFAA28 url("../images/0mosaicoamarillo.png") repeat left top;
}

#u845
{
	z-index: 270;
	width: 800px;
	position: relative;
}

#u450
{
	z-index: 271;
	width: 800px;
	position: relative;
	margin-right: -10000px;
}

#u451
{
	z-index: 272;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	background: #FFAA28 url("../images/0mosaicoamarillo.png") repeat-x left top;
}

#u453-4
{
	z-index: 277;
	position: relative;
	width: 110px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 63px;
}

#u452-4
{
	z-index: 273;
	position: relative;
	width: 128px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 239px;
}

#u6122-4
{
	z-index: 285;
	position: relative;
	width: 91px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 447px;
}

#u454-4
{
	z-index: 281;
	position: relative;
	width: 132px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 608px;
}

#u835
{
	z-index: 289;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u846
{
	z-index: 251;
	width: 799px;
	position: fixed;
	top: 90px;
	left: 0px;
}

#u463
{
	z-index: 252;
	width: 799px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/0mosaicoazul.png") repeat-x right bottom;
}

#u462-4
{
	z-index: 253;
	position: relative;
	width: 96px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 59px;
}

#u473-4
{
	z-index: 261;
	position: relative;
	width: 98px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 449px;
}

#u475-4
{
	z-index: 265;
	position: relative;
	width: 88px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 657px;
}

#u471-4
{
	z-index: 257;
	position: relative;
	width: 119px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 235px;
}

#u840
{
	z-index: 269;
	width: 799px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u6842
{
	z-index: 250;
	width: 200px;
	margin-left: 320px;
}

#contenido
{
	margin-left: 50px;
	margin-top: 53px;
	position: relative;
}

#pu560
{
	width: 0.01px;
	margin-top: 31px;
	position: relative;
}

#u560
{
	z-index: 110;
	width: 796px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
}

#u560_clip
{
	overflow: hidden;
	width: 796px;
	height: 747px;
}

#u560_img
{
	margin-top: -305px;
}

#u231-3
{
	z-index: 116;
	width: 513px;
	min-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 3px;
}

#u230-3
{
	z-index: 119;
	width: 513px;
	min-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 3px;
}

#u224-3
{
	z-index: 122;
	width: 513px;
	min-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 3px;
}

#u229-3
{
	z-index: 125;
	width: 513px;
	min-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 564px;
	left: 2px;
}

#u225-3
{
	z-index: 128;
	width: 513px;
	min-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 3px;
}

#u226-3
{
	z-index: 131;
	width: 513px;
	min-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 669px;
	left: 2px;
}

#u572-3
{
	z-index: 134;
	width: 513px;
	min-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 775px;
	left: 2px;
}

#u231,#u230,#u224,#u229,#u225,#u226,#u572
{
	padding-top: 10px;
}

#u565
{
	z-index: 137;
	width: 409px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 391px;
}

#u570-4
{
	z-index: 139;
	display: block;
	vertical-align: top;
	position: relative;
	width: 247px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 51px;
}

#presentacin
{
	margin-left: 50px;
	margin-top: 47px;
	position: relative;
}

#u575-4
{
	z-index: 143;
	margin-left: 50px;
	margin-top: 60px;
	position: relative;
}

#u665
{
	z-index: 170;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 19px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#pu577
{
	width: 0.01px;
	margin-top: 4px;
	position: relative;
}

#u577
{
	z-index: 104;
	width: 731px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 58px 19px 23px 50px;
	background: transparent url("../images/0mosaicoazul.png") repeat right bottom;
}

#pu581-19
{
	width: 0.01px;
	margin-left: 41px;
	position: relative;
}

#u581-19
{
	z-index: 151;
	width: 645px;
	min-height: 2073px;
	position: relative;
	margin-right: -10000px;
}

#u581-6
{
	font-size: 30px;
	font-weight: 700;
}

#u581-8,#u581-10,#u581-12,#u581-14,#u581-16
{
	font-size: 25px;
}

#pu672
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
	left: 653px;
}

#u672
{
	z-index: 171;
	width: 35px;
	margin-left: 2px;
	position: relative;
}

#u677
{
	z-index: 173;
	width: 35px;
	margin-top: 833px;
	position: relative;
}

#personajes
{
	margin-top: 29px;
	position: relative;
}

#u586-4
{
	z-index: 147;
	margin-top: 63px;
	position: relative;
}

#u680
{
	z-index: 175;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2319px;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#accordionu3892
{
	z-index: 21;
	width: 800px;
	position: relative;
}

#u3927
{
	z-index: 22;
	width: 800px;
	position: relative;
}

#u3934-8
{
	z-index: 23;
	width: 790px;
	min-height: 130px;
	border-style: none;
	border-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #999999;
	line-height: 1;
	font-family: ubuntu, sans-serif;position: relative;
	background: #DEDEDE url("../images/0mosaicoamarillo.png") repeat left top;
}

#u3934-8:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 130px;
	margin: 0px;
	background: #F2F2F2 url("../images/0mosaicoamarillo.png") repeat left top;
}

#u3934-8:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 130px;
	margin: 0px;
	background: #F2F2F2 url("../images/0mosaicoamarillo.png") repeat left top;
}

#u4115
{
	z-index: 29;
	width: 74px;
}

#u3936
{
	z-index: 34;
	width: 693px;
}

#u3928
{
	z-index: 37;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-top: 3px;
	padding-bottom: 2.399999999999636px;
	position: relative;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u3930
{
	z-index: 48;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#pu3929-8
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 62px;
	position: relative;
}

#u3929-8
{
	z-index: 38;
	width: 341px;
	min-height: 518px;
	position: relative;
	margin-right: -10000px;
}

#u3931
{
	z-index: 46;
	width: 325px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 387px;
}

#u3933
{
	z-index: 49;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 49px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u3893
{
	z-index: 50;
	width: 800px;
	position: relative;
}

#u3900-8
{
	z-index: 51;
	width: 790px;
	min-height: 135px;
	border-style: none;
	border-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #999999;
	line-height: 1;
	font-family: ubuntu, sans-serif;position: relative;
	background: #DEDEDE url("../images/0mosaicoamarillo.png") repeat left top;
}

#u3900-8:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 135px;
	margin: 0px;
	background: #F2F2F2 url("../images/0mosaicoamarillo.png") repeat left top;
}

#u3900-8:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 135px;
	margin: 0px;
	background: #F2F2F2 url("../images/0mosaicoamarillo.png") repeat left top;
}

#u3900-8.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 135px;
	margin: 0px;
	background: #FFFFFF url("../images/0mosaicoamarillo.png") repeat left top;
}

#u4137
{
	z-index: 57;
	width: 74px;
}

#u3900-2,#u3900-4
{
	font-size: 34px;
	color: #FFAA28;
	font-family: ubuntu, sans-serif;
}

#u3902
{
	z-index: 62;
	width: 637px;
}

#u3902_img
{
	padding-right: 7px;
	vertical-align: bottom;
}

#u3900-3,#u3900-5
{
	font-size: 34px;
	color: #FFAA28;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u3894
{
	z-index: 65;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-top: 3px;
	padding-bottom: 3px;
	position: relative;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u3899
{
	z-index: 77;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#pu3897-9
{
	width: 0.01px;
	margin-left: 51px;
	margin-top: 24px;
	position: relative;
}

#u3897-9
{
	z-index: 66;
	width: 333px;
	min-height: 538px;
	position: relative;
	margin-right: -10000px;
}

#u3895
{
	z-index: 75;
	width: 443px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 285px;
}

#u3895_clip
{
	overflow: hidden;
	width: 443px;
	height: 503px;
}

#u3895_img
{
	margin-right: -60px;
}

#u3898
{
	z-index: 78;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 67px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u3916
{
	z-index: 79;
	width: 800px;
	position: relative;
}

#u3917-8
{
	z-index: 80;
	width: 790px;
	min-height: 130px;
	border-style: none;
	border-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #999999;
	line-height: 0.2;
	font-family: ubuntu, sans-serif;position: relative;
	background: #DEDEDE url("../images/0mosaicoamarillo.png") repeat left top;
}

#u3917-8:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 130px;
	margin: 0px;
	background: #F2F2F2 url("../images/0mosaicoamarillo.png") repeat left top;
}

#u3917-8:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 130px;
	margin: 0px;
	background: #F2F2F2 url("../images/0mosaicoamarillo.png") repeat left top;
}

#u3934-8.AccordionPanelTabOpen,#u3917-8.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 130px;
	margin: 0px;
	background: #FFFFFF url("../images/0mosaicoamarillo.png") repeat left top;
}

#u3934-8.AccordionPanelTabOpen p,#u3934-8.AccordionPanelTabOpen span,#u3900-8.AccordionPanelTabOpen p,#u3900-8.AccordionPanelTabOpen span,#u3917-8.AccordionPanelTabOpen p,#u3917-8.AccordionPanelTabOpen span
{
	color: #4F4F4F;
	visibility: inherit;
	line-height: 0.2;
	padding-right: 0px;
	font-size: 20px;
}

#u4150
{
	z-index: 86;
	width: 74px;
}

#u4115_img,#u4137_img,#u4150_img
{
	padding-bottom: 29px;
	vertical-align: bottom;
}

#u3917-2,#u3917-4
{
	font-size: 20px;
	color: #FFAA28;
	font-family: ubuntu, sans-serif;
}

#u3919
{
	z-index: 91;
	width: 568px;
}

#u3919_img
{
	padding-right: 6px;
	vertical-align: bottom;
}

#u3917-3,#u3917-5
{
	font-size: 20px;
	color: #FFAA28;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u3921
{
	z-index: 94;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-top: 4px;
	padding-bottom: 4px;
	position: relative;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u3926
{
	z-index: 103;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#pu3923-5
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 24px;
	position: relative;
}

#u3923-5
{
	z-index: 95;
	width: 350px;
	min-height: 545px;
	position: relative;
	margin-right: -10000px;
}

#u3897-7,#u3923-3
{
	line-height: 1.4;
	color: #999999;
	font-family: ubuntu, sans-serif;}

#u3924
{
	z-index: 100;
	width: 406px;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 317px;
}

#u3924_clip
{
	overflow: hidden;
	width: 406px;
	height: 452px;
}

#u3924_img
{
	margin-right: -46px;
}

#u3922
{
	z-index: 102;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 63px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#pu4172
{
	width: 0.01px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u4172
{
	z-index: 2;
	width: 800px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: #14144A url("../images/0mosaicoazul.png") repeat right center;
}

#u4172_position_content
{
	margin-top: 145px;
	margin-bottom: 6px;
}

#u3980-4
{
	z-index: 3;
	width: 373px;
	min-height: 240px;
	margin-left: 213px;
	position: relative;
}

#u3980-2
{
	font-size: 43px;
	text-align: center;
}

#objetivos
{
	margin-left: 50px;
	margin-top: 241px;
	position: relative;
}

#u4177
{
	z-index: 176;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 15px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u4166
{
	z-index: 7;
	width: 35px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 382px;
}

#u1281-4
{
	z-index: 105;
	margin-left: 51px;
	margin-top: 38px;
	position: relative;
}

#u453-4_img,#u452-4_img,#u6122-4_img,#u454-4_img,#u462-4_img,#u473-4_img,#u475-4_img,#u471-4_img,#u575-4_img,#u586-4_img,#u1281-4_img
{
	display: block;
	vertical-align: top;
}

#pu1282
{
	width: 0.01px;
	margin-top: 9px;
	position: relative;
}

#u1282
{
	z-index: 109;
	width: 800px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#slideshowu6686
{
	z-index: 226;
	width: 0.01px;
	height: 408px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u6708popup
{
	z-index: 227;
}

#u6709
{
	z-index: 228;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6736
{
	z-index: 230;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6750
{
	z-index: 232;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6764
{
	z-index: 234;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6778
{
	z-index: 236;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6792
{
	z-index: 238;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6806
{
	z-index: 240;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6709_img,#u6736_img,#u6750_img,#u6764_img,#u6778_img,#u6792_img,#u6806_img
{
	padding-top: 30px;
	padding-bottom: 30px;
}

#u6707-3
{
	position: absolute;
	width: 112px;
	min-height: 110px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 298px;
	left: 80px;
}

#u6707-3popup
{
	z-index: 242;
}

#u6714-3
{
	position: absolute;
	width: 116px;
	min-height: 85px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 314px;
	left: 558px;
}

#u6714-3popup
{
	z-index: 245;
}

.AccordionPanelTab,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* accordion */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pslideshowu1038
{
	width: 0.01px;
	top: -101px;
	margin-bottom: -101px;
	position: relative;
}

#slideshowu1038
{
	z-index: 178;
	width: 0.01px;
	height: 465px;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
}

#u6708,#u1100
{
	position: absolute;
	width: 800px;
	height: 360px;
	background-color: transparent;
}

#u1100popup
{
	z-index: 179;
}

#u1107
{
	z-index: 180;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1101
{
	z-index: 182;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1113
{
	z-index: 184;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1105
{
	z-index: 186;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1117
{
	z-index: 188;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1115
{
	z-index: 190;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1103
{
	z-index: 192;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1119
{
	z-index: 194;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1109
{
	z-index: 196;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1111
{
	z-index: 198;
	width: 800px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1107_img,#u1101_img,#u1113_img,#u1105_img,#u1117_img,#u1115_img,#u1103_img,#u1119_img,#u1109_img,#u1111_img
{
	padding: 39px 46px;
}

#u1082-6
{
	position: absolute;
	width: 30px;
	min-height: 95px;
	text-align: center;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 370px;
	left: 140px;
}

#u1082-6popup
{
	z-index: 200;
}

#u1083
{
	margin-top: -8px;
	margin-bottom: 8px;
}

#u1084
{
	z-index: 206;
	width: 113px;
}

#u1084_img
{
	padding-right: 1px;
	vertical-align: bottom;
}

#u1082-2,#u1082-3
{
	color: #999999;
}

#u1056-6
{
	position: absolute;
	width: 101px;
	min-height: 96px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: ubuntu, sans-serif;top: 369px;
	left: 571px;
}

#u1056-6popup
{
	z-index: 209;
}

#u3934,#u3900,#u3917,#u1082,#u1056
{
	font-size: 1px;
	line-height: 0px;
}

#u1057
{
	margin-top: -9px;
	margin-bottom: 9px;
}

#u1058
{
	z-index: 215;
	width: 113px;
}

#u3936_img,#u1058_img
{
	vertical-align: bottom;
}

#u1287
{
	z-index: 218;
	width: 23px;
	height: 641px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 50px;
}

#u6816
{
	z-index: 219;
	width: 113px;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u6821
{
	z-index: 221;
	width: 113px;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u6821_img
{
	padding-right: 1px;
}

#u6822
{
	z-index: 223;
	width: 538px;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
}

#u6827
{
	z-index: 225;
	width: 800px;
	height: 44px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u6561
{
	z-index: 177;
	width: 130px;
	height: 128px;
	top: -498px;
	margin-bottom: -128px;
	position: relative;
}

#pu722
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u722
{
	z-index: 9;
	width: 800px;
	padding-top: 5px;
	padding-bottom: 33px;
	margin-right: -10000px;
}

#u730
{
	z-index: 10;
	width: 800px;
	height: 10px;
}

#u4237-6
{
	z-index: 15;
	margin-left: 273px;
	margin-top: 12px;
}

#u751
{
	z-index: 11;
	width: 60px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 690px;
}

#u753
{
	z-index: 13;
	width: 60px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 50px;
}

#u8994
{
	z-index: 248;
	width: 158px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 643px;
}

#u8995
{
	z-index: 249;
	width: 180px;
	height: 89px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

.ie #u6561,.ie #u8994,.ie #u8995
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#page .verticalspacer
{
	clear: both;
}

