html
{
	background: #7F7F7F url("../images/0mosaicoazul.png") repeat left top;
}

#page
{
	z-index: 1;
	width: 978px;
	min-height: 1200px;
	border-style: none;
	border-color: transparent;
	margin-left: auto;
	margin-right: auto;
	background: #FFAA28 url("../images/0mosaicoamarillo.png") repeat left top;
}

#page_position_content
{
	margin-top: 18px;
	margin-bottom: -1px;
}

#u895
{
	z-index: 106;
	width: 978px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u906
{
	z-index: 107;
	width: 978px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	padding-top: 21px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: #14144A url("../images/0mosaicoazul.png") repeat right top;
}

#pu901-6
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 36px;
	position: relative;
}

#u901-6
{
	z-index: 109;
	position: relative;
	width: 142px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 15px;
}

#u901-6_img
{
	display: block;
	vertical-align: top;
}

#u899
{
	z-index: 115;
	width: 609px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 283px;
}

#u904
{
	z-index: 108;
	width: 978px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u898
{
	z-index: 117;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 272px;
}

#u896
{
	z-index: 118;
	width: 99px;
	height: 90px;
	background: transparent url("../images/u824-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2)";
	filter: alpha(opacity=2);
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u902
{
	z-index: 119;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 470px;
}

#u907
{
	z-index: 120;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u897
{
	z-index: 121;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 669px;
}

#u905
{
	z-index: 122;
	width: 99px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 768px;
}

#u903
{
	z-index: 123;
	width: 110px;
	height: 90px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.2)),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.2) ,rgba(255, 255, 255, 0) 100%);
	filter: alpha(opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=2) progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	opacity: 0.02;
	position: relative;
	margin-right: -10000px;
	left: 868px;
}

#inicia_6
{
	margin-left: 8px;
	position: relative;
}

#pu4325
{
	width: 0.01px;
	margin-top: 54px;
	position: relative;
}

#u4325
{
	z-index: 2;
	width: 905px;
	position: relative;
	margin-right: -10000px;
	margin-top: 368px;
}

#u4327-4
{
	z-index: 10;
	width: 616px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 47px;
}

#u4252
{
	z-index: 42;
	width: 978px;
	-pie-box-shadow: 0px 8px 10px #999999;
	-moz-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 10px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/0mosaicoazul.png") repeat left top;
}

#u4252_position_content
{
	margin-bottom: -1px;
}

#u6846
{
	z-index: 101;
	width: 200px;
	margin-left: 50px;
}

#u4254
{
	z-index: 44;
	width: 828px;
	margin-top: 6px;
	position: relative;
}

#u4254_img
{
	padding-right: 1px;
}

#u4253
{
	z-index: 43;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 15px;
	position: relative;
	background: transparent url("../images/hilo_amarillo.png") repeat-x left top;
}

#u4333
{
	z-index: 78;
	width: 563px;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 323px;
}

#slideshowu4334
{
	z-index: 81;
	width: 0.01px;
	height: 254px;
	position: relative;
	margin-right: -10000px;
}

#u4360
{
	position: absolute;
	width: 480px;
	height: 244px;
	background-color: transparent;
}

#u4360popup
{
	z-index: 82;
}

#u4361
{
	z-index: 83;
	width: 480px;
	height: 244px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4361_img
{
	padding: 122px 240px;
}

#u4363
{
	z-index: 85;
	width: 480px;
	height: 244px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4363_clip
{
	overflow: hidden;
	width: 480px;
	height: 244px;
}

#u4363_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u4359-3
{
	position: absolute;
	width: 72px;
	min-height: 85px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 169px;
	left: 487px;
}

#u4359-3popup
{
	z-index: 87;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4365
{
	z-index: 79;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 492px;
}

#u6128
{
	z-index: 102;
	width: 792px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 413px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u4329
{
	z-index: 6;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u6135
{
	z-index: 103;
	width: 792px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u4375
{
	z-index: 18;
	width: 686px;
	position: relative;
}

#pu4456
{
	width: 0.01px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u4456
{
	z-index: 46;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#slideshowu4417
{
	z-index: 92;
	width: 0.01px;
	height: 281px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 305px;
}

#u4429
{
	position: absolute;
	width: 540px;
	height: 281px;
	background-color: transparent;
}

#u4429popup
{
	z-index: 93;
}

#u4430
{
	z-index: 94;
	width: 540px;
	height: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4430_img
{
	padding: 140px 270px;
}

#u4432
{
	z-index: 96;
	width: 540px;
	height: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4432_img
{
	padding: 3px 8px;
}

#u4428-3
{
	position: absolute;
	width: 85px;
	min-height: 75px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 205px;
	left: 473px;
}

#u4428-3popup
{
	z-index: 98;
}

#pu4403
{
	width: 0.01px;
	top: -75px;
	margin-bottom: -75px;
	position: relative;
}

#u4403
{
	z-index: 4;
	width: 905px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#u4402-4
{
	z-index: 14;
	width: 616px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 47px;
}

#u4415
{
	z-index: 90;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	left: 785px;
}

#u6139
{
	z-index: 104;
	width: 792px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#pu4329,#pu4406
{
	width: 0.01px;
	margin-top: 24px;
	position: relative;
}

#u4406
{
	z-index: 8;
	width: 905px;
	position: relative;
	margin-right: -10000px;
}

#u4325_clip,#u4329_clip,#u4403_clip,#u4406_clip
{
	overflow: hidden;
	width: 905px;
	height: 152px;
}

#u4325_img,#u4329_img,#u4403_img,#u4406_img
{
	margin-left: -377px;
}

#u6143
{
	z-index: 105;
	width: 792px;
	min-height: 62px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 50px;
	background: transparent url("../images/fondo0.png") repeat left top;
}

#u4409
{
	z-index: 20;
	width: 728px;
	margin-top: 5px;
	position: relative;
}

#u4409_clip
{
	overflow: hidden;
	width: 728px;
	height: 442px;
}

#u4409_img
{
	margin-bottom: -97px;
}

#u4462
{
	z-index: 47;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#u4463-12
{
	z-index: 49;
	width: 817px;
	min-height: 270px;
	letter-spacing: -1px;
	margin-left: 50px;
	margin-top: 143px;
	position: relative;
}

#u4463-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4463-2
{
	font-size: 46px;
	font-weight: 700;
}

#u4463-4  span,#u4463-6,#u4463-8,#u4463-10 /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.1;
}

#u4464
{
	z-index: 61;
	width: 974px;
	margin-left: 3px;
	margin-top: 43px;
	position: relative;
}

#u4547
{
	z-index: 48;
	width: 978px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	margin-top: 62px;
	position: relative;
	background: transparent url("../images/hilo_azul.png") repeat-x left top;
}

#slideshowu4470
{
	z-index: 63;
	width: 0.01px;
	height: 1089px;
	margin-left: 46px;
	margin-top: 78px;
	position: relative;
}

#u4494
{
	position: absolute;
	width: 914px;
	height: 1089px;
	background-color: transparent;
}

#u4494popup
{
	z-index: 64;
}

#u4495
{
	z-index: 65;
	width: 914px;
	height: 1089px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4497
{
	z-index: 67;
	width: 914px;
	height: 1089px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4503
{
	z-index: 69;
	width: 914px;
	height: 1089px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4501
{
	z-index: 71;
	width: 914px;
	height: 1089px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4495_img,#u4497_img,#u4503_img,#u4501_img
{
	padding: 62px 75px 63px;
}

#u4499
{
	z-index: 73;
	width: 914px;
	height: 1089px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4499_img
{
	padding: 63px 75px;
}

#u4477-3
{
	position: absolute;
	width: 626px;
	min-height: 970px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 83px;
	left: 104px;
}

#u4477-3popup
{
	z-index: 75;
}

#pu993
{
	width: 0.01px;
	margin-left: 15px;
	top: -50px;
	margin-bottom: -50px;
	position: relative;
}

#u993
{
	z-index: 40;
	width: 130px;
	height: 128px;
	position: relative;
	margin-right: -10000px;
}

#u992
{
	z-index: 39;
	width: 130px;
	height: 128px;
	position: relative;
	margin-right: -10000px;
	left: 815px;
}

.ie #u993,.ie #u992
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu6558
{
	width: 0.01px;
	top: -90px;
	margin-bottom: -90px;
	position: relative;
}

#u6558
{
	z-index: 22;
	width: 978px;
	margin-right: -10000px;
}

#u6533
{
	z-index: 23;
	width: 978px;
	padding-top: 5px;
	padding-bottom: 121px;
	margin-right: -10000px;
}

#u6537
{
	z-index: 24;
	width: 978px;
	height: 10px;
}

#u6536-6
{
	z-index: 29;
	margin-left: 324px;
	margin-top: 12px;
}

#u6538
{
	z-index: 25;
	width: 60px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 868px;
}

#u6534
{
	z-index: 27;
	width: 60px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 50px;
}

#u6550
{
	z-index: 35;
	width: 978px;
	margin-right: -10000px;
	margin-top: 90px;
}

#u6546
{
	z-index: 36;
	width: 978px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u905.MuseLinkActive,#u6546.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u6547
{
	z-index: 37;
	width: 91px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 443px;
}

#page .verticalspacer
{
	clear: both;
}

